<?xml version='1.0' encoding='UTF-8'?>
<matrix-project plugin="matrix-project@1.4.1">
  <actions/>
  <description></description>
  <logRotator class="hudson.tasks.LogRotator">
    <daysToKeep>-1</daysToKeep>
    <numToKeep>3</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.security.AuthorizationMatrixProperty>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update:msingh</permission>
      <permission>hudson.model.Run.Delete:msingh</permission>
      <permission>hudson.model.Item.Workspace:msingh</permission>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Delete:msingh</permission>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains:msingh</permission>
      <permission>hudson.model.Item.Configure:msingh</permission>
      <permission>hudson.model.Item.Cancel:msingh</permission>
      <permission>hudson.model.Item.Delete:msingh</permission>
      <permission>hudson.model.Item.Read:anonymous</permission>
      <permission>hudson.model.Item.Read:msingh</permission>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:msingh</permission>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create:msingh</permission>
      <permission>hudson.model.Item.Build:msingh</permission>
      <permission>hudson.scm.SCM.Tag:msingh</permission>
      <permission>hudson.model.Item.Discover:msingh</permission>
      <permission>hudson.model.Run.Update:msingh</permission>
    </hudson.security.AuthorizationMatrixProperty>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.6">
      <useBuildBlocker>false</useBuildBlocker>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
    <jenkins.plugins.jobicon.CustomIconProperty plugin="custom-job-icon@0.2">
      <iconfile>6bad8a5ac861e63e3017941680c1aa7d952f4b57.png</iconfile>
    </jenkins.plugins.jobicon.CustomIconProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <com.seitenbau.jenkins.plugins.dynamicparameter.scriptler.ScriptlerChoiceParameterDefinition plugin="dynamicparameter@0.2.0">
          <name>BOOST_VERSION</name>
          <description>Choose the version of boost to be built.</description>
          <__uuid>de8f85f9-8a28-4b63-93e1-5ef2da3ce64a</__uuid>
          <__remote>false</__remote>
          <__scriptlerScriptId>Listfile.gsh.groovy</__scriptlerScriptId>
          <__parameters>
            <com.seitenbau.jenkins.plugins.dynamicparameter.scriptler.ScriptlerParameterDefinition_-ScriptParameter>
              <name>Folder</name>
              <value>boost</value>
            </com.seitenbau.jenkins.plugins.dynamicparameter.scriptler.ScriptlerParameterDefinition_-ScriptParameter>
          </__parameters>
          <readonlyInputField>false</readonlyInputField>
        </com.seitenbau.jenkins.plugins.dynamicparameter.scriptler.ScriptlerChoiceParameterDefinition>
        <hudson.plugins.matrix__configuration__parameter.MatrixCombinationsParameterDefinition plugin="matrix-combinations-parameter@1.0.8">
          <name>BUILD_MATRIX</name>
          <description>Build Matrix</description>
        </hudson.plugins.matrix__configuration__parameter.MatrixCombinationsParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <org.jenkinsci.plugins.customizebuildnow.BuildNowTextProperty plugin="customize-build-now@1.0"/>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.24">
      <autoRebuild>false</autoRebuild>
    </com.sonyericsson.rebuild.RebuildSettings>
    <org.jenkinsci.plugins.requeuejob.RequeueJobProperty plugin="jobrequeue@1.0">
      <requeueJob>false</requeueJob>
    </org.jenkinsci.plugins.requeuejob.RequeueJobProperty>
    <hudson.plugins.throttleconcurrents.ThrottleJobProperty plugin="throttle-concurrents@1.8.4">
      <maxConcurrentPerNode>0</maxConcurrentPerNode>
      <maxConcurrentTotal>0</maxConcurrentTotal>
      <throttleEnabled>false</throttleEnabled>
      <throttleOption>project</throttleOption>
      <matrixOptions>
        <throttleMatrixBuilds>true</throttleMatrixBuilds>
        <throttleMatrixConfigurations>false</throttleMatrixConfigurations>
      </matrixOptions>
    </hudson.plugins.throttleconcurrents.ThrottleJobProperty>
    <EnvInjectJobProperty plugin="envinject@1.91.3">
      <info>
        <groovyScriptContent>// Copyright (c) 2014 Advanced Micro Devices, Inc. All rights reserved.

def map = [:] ;

if ( JOB_NAME.contains( &quot;msvc-12.0&quot; ) ) {
	map.put( &quot;VSNAME&quot;, &quot;VS2013&quot; );
	map.put( &quot;VCNAME_FULL&quot;, &quot;Visual C++ 2013&quot; );
	map.put( &quot;VCTOOLKIT_SHORT&quot;, &quot;vc12&quot; );
	map.put( &quot;VCNAME_ALT&quot;, &quot;VC12&quot; );
	map.put( &quot;PlatformToolset&quot;, &quot;v120&quot; );
}

if ( JOB_NAME.contains( &quot;msvc-11.0&quot; ) ) {
	map.put( &quot;VSNAME&quot;, &quot;VS2012&quot; );
	map.put( &quot;VCNAME_FULL&quot;, &quot;Visual C++ 2012&quot; );
	map.put( &quot;VCTOOLKIT_SHORT&quot;, &quot;vc11&quot; );
	map.put( &quot;VCNAME_ALT&quot;, &quot;VC11&quot; );
	map.put( &quot;PlatformToolset&quot;, &quot;v110&quot; );
}

if ( JOB_NAME.contains( &quot;msvc-10.0&quot; ) ) {
	map.put( &quot;VSNAME&quot;, &quot;VS2010&quot; );
	map.put( &quot;VCNAME_FULL&quot;, &quot;Visual C++ 2010&quot; );
	map.put( &quot;VCTOOLKIT_SHORT&quot;, &quot;vc10&quot; );
	map.put( &quot;VCNAME_ALT&quot;, &quot;VC10&quot; );
	map.put( &quot;PlatformToolset&quot;, &quot;v100&quot; );
}

if ( JOB_NAME.contains( &quot;32&quot; ) ) {
	map.put( &quot;Platform&quot;, &quot;Win32&quot; );
	map.put( &quot;PLATFORM_ARCH_SHORT&quot;, &quot;x86&quot; );
	map.put( &quot;PLATFORM_ARCH_INTEL&quot;, &quot;ia32&quot; );
	map.put( &quot;PLATFORM_ARCH_INTEL_ALT&quot;, &quot;x86&quot; );
	map.put( &quot;PLATFORM_ARCH_AMD&quot;, &quot;x86&quot; );
	map.put( &quot;PLATFORM_ARCH_JAVA&quot;, &quot;i586&quot; );
	
}

if ( JOB_NAME.contains( &quot;64&quot; ) ) {
	map.put( &quot;Platform&quot;, &quot;x64&quot; );
	map.put( &quot;PLATFORM_ARCH_SHORT&quot;, &quot;x64&quot; );
	map.put( &quot;PLATFORM_ARCH_INTEL&quot;, &quot;intel64&quot; );
	map.put( &quot;PLATFORM_ARCH_INTEL_ALT&quot;, &quot;x86_64&quot; );
	map.put( &quot;PLATFORM_ARCH_AMD&quot;, &quot;amd64&quot; );
	map.put( &quot;PLATFORM_ARCH_JAVA&quot;, &quot;x64&quot; );
}

if ( JOB_NAME.contains( &quot;release&quot; ) ) {
	map.put( &quot;Configuration&quot;, &quot;Release&quot; );
}

if ( JOB_NAME.contains( &quot;debug&quot; ) ) {
	map.put( &quot;Configuration&quot;, &quot;Debug&quot; );
}

println &apos;---------------------------------&apos;;
println map;
println &apos;---------------------------------&apos;;

return map;</groovyScriptContent>
        <loadFilesFromMaster>false</loadFilesFromMaster>
      </info>
      <on>true</on>
      <keepJenkinsSystemVariables>true</keepJenkinsSystemVariables>
      <keepBuildVariables>true</keepBuildVariables>
      <overrideBuildParameters>false</overrideBuildParameters>
      <contributors/>
    </EnvInjectJobProperty>
  </properties>
  <scm class="hudson.plugins.perforce.PerforceSCM" plugin="perforce@1.3.35">
    <configVersion>2</configVersion>
    <p4User>jenkinshas</p4User>
    <p4Passwd>0f0kqlwarTrhwM5Z6nxTElYaqlJF/g==</p4Passwd>
    <p4Port>hyswp4p1.amd.com:1666</p4Port>
    <p4Client>${JOB_NAME}</p4Client>
    <projectPath>//depot/stg/cas/apps/cas/AutomationFramework/scripts/Environ.bat //workspace/Environ.bat</projectPath>
    <projectOptions>allwrite clobber nocompress unlocked nomodtime rmdir</projectOptions>
    <p4SysDrive></p4SysDrive>
    <p4SysRoot></p4SysRoot>
    <p4Tool>p4</p4Tool>
    <useClientSpec>false</useClientSpec>
    <useStreamDepot>false</useStreamDepot>
    <forceSync>false</forceSync>
    <alwaysForceSync>false</alwaysForceSync>
    <dontUpdateServer>false</dontUpdateServer>
    <disableAutoSync>false</disableAutoSync>
    <disableChangeLogOnly>false</disableChangeLogOnly>
    <disableSyncOnly>false</disableSyncOnly>
    <showIntegChanges>false</showIntegChanges>
    <useOldClientName>false</useOldClientName>
    <createWorkspace>true</createWorkspace>
    <updateView>true</updateView>
    <dontRenameClient>false</dontRenameClient>
    <updateCounterValue>false</updateCounterValue>
    <dontUpdateClient>false</dontUpdateClient>
    <exposeP4Passwd>false</exposeP4Passwd>
    <wipeBeforeBuild>true</wipeBeforeBuild>
    <quickCleanBeforeBuild>false</quickCleanBeforeBuild>
    <restoreChangedDeletedFiles>false</restoreChangedDeletedFiles>
    <wipeRepoBeforeBuild>true</wipeRepoBeforeBuild>
    <firstChange>-1</firstChange>
    <fileLimit>0</fileLimit>
    <excludedFilesCaseSensitivity>true</excludedFilesCaseSensitivity>
    <slaveClientNameFormat>${basename}-${hash}</slaveClientNameFormat>
    <lineEndValue>local</lineEndValue>
    <useViewMask>false</useViewMask>
    <useViewMaskForPolling>true</useViewMaskForPolling>
    <useViewMaskForSyncing>false</useViewMaskForSyncing>
    <useViewMaskForChangeLog>false</useViewMaskForChangeLog>
    <pollOnlyOnMaster>false</pollOnlyOnMaster>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <axes>
    <hudson.matrix.TextAxis>
      <name>C</name>
      <values>
        <string>debug</string>
        <string>release</string>
      </values>
    </hudson.matrix.TextAxis>
    <hudson.matrix.TextAxis>
      <name>LL</name>
      <values>
        <string>shared</string>
        <string>static</string>
      </values>
    </hudson.matrix.TextAxis>
    <hudson.matrix.TextAxis>
      <name>A</name>
      <values>
        <string>32</string>
        <string>64</string>
      </values>
    </hudson.matrix.TextAxis>
    <hudson.matrix.TextAxis>
      <name>T</name>
      <values>
        <string>msvc-10.0</string>
        <string>msvc-11.0</string>
        <string>msvc-12.0</string>
        <string>gcc473</string>
      </values>
    </hudson.matrix.TextAxis>
    <hudson.matrix.TextAxis>
      <name>R</name>
      <values>
        <string>shared</string>
        <string>static</string>
      </values>
    </hudson.matrix.TextAxis>
    <hudson.matrix.LabelAxis>
      <name>L</name>
      <values>
        <string>LBM</string>
        <string>WBM</string>
      </values>
    </hudson.matrix.LabelAxis>
  </axes>
  <combinationFilter>!(LL==&apos;shared&apos; &amp;&amp; R==&apos;static&apos;) &amp;&amp; !(T.startsWith( &apos;gcc&apos; ) &amp;&amp; L==&quot;WBM&quot;) &amp;&amp; !(T.startsWith( &apos;msvc&apos; ) &amp;&amp; L==&apos;LBM&apos;) &amp;&amp; !( T.startsWith( &apos;gcc&apos; ) )</combinationFilter>
  <builders>
    <hudson.plugins.xshell.XShellBuilder plugin="xshell@0.10">
      <commandLine>Environ</commandLine>
      <executeFromWorkingDir>true</executeFromWorkingDir>
      <regexToKill></regexToKill>
      <timeAllocated></timeAllocated>
    </hudson.plugins.xshell.XShellBuilder>
    <EnvInjectBuilder plugin="envinject@1.91.3">
      <info>
        <propertiesFilePath>${WORKSPACE}/Environ.props</propertiesFilePath>
      </info>
    </EnvInjectBuilder>
    <hudson.tasks.BatchFile>
      <command>@echo off&#xd;
setlocal&#xd;
&#xd;
echo SEVENZ=%SEVENZ% &#xd;
&#xd;
%SEVENZ% x -aoa boost/%BOOST_VERSION%/boost_%BOOST_VERSION%.7z -xr!doc -xr!more -xr!tools/auto_index -xr!tools/bcp -xr!tools/boostbook -xr!tools/boostdep -xr!tools/inspect -xr!tools/litre -xr!tools/quickbook -xr!tools/regression -xr!tools/build/doc -xr!tool/build/example -xr!tools/build/notes -xr!tools/build/scripts -xr!tools/build/test -xr!tools/build/website -xr!tools/build/src/build -xr!tools/build/src/contrib -xr!tools/build/src/kernel -xr!tools/build/src/options -xr!tools/build/src/tools -xr!tools/build/src/util &#xd;
&#xd;
if ERRORLEVEL 1 (&#xd;
	echo [FAILURE]: Failed to extract boost/%BOOST_VERSION%/boost_%BOOST_VERSION%.7z&#xd;
	exit /b ERRORLEVEL&#xd;
)&#xd;
&#xd;
pushd boost_%BOOST_VERSION%&#xd;
	call bootstrap.bat&#xd;
popd&#xd;
&#xd;
endlocal</command>
    </hudson.tasks.BatchFile>
    <hudson.tasks.BatchFile>
      <command>@echo off&#xd;
setlocal&#xd;
&#xd;
pushd boost_%BOOST_VERSION%&#xd;
	echo [INFO] Calling .\b2 --toolset=%T% variant=%C% threading=multi link=%LL% runtime-link=%R% address-model=%A% --stagedir=lib\%P%\%C% -j %NUMBER_OF_PROCESSORS% -q --hash&#xd;
	.\b2 --toolset=%T% variant=%C% threading=multi link=%LL% runtime-link=%R% address-model=%A% --stagedir=lib\%P%\%C% -j %NUMBER_OF_PROCESSORS% -q --hash&#xd;
popd&#xd;
&#xd;
endlocal</command>
    </hudson.tasks.BatchFile>
    <hudson.tasks.BatchFile>
      <command>@echo off&#xd;
setlocal&#xd;
&#xd;
if EXIST artifacts (&#xd;
	::-Empty it&#xd;
	rmdir /S /Q artifacts&#xd;
	if ERRORLEVEL 1 (&#xd;
		echo [FAILURE]: Could not delete the artifacts directory&#xd;
		exit /b ERRORLEVEL&#xd;
	)&#xd;
)&#xd;
&#xd;
mkdir artifacts\boost_%BOOST_VERSION%\inc&#xd;
if ERRORLEVEL 1 (&#xd;
	echo [FAILURE]: Failed to create the directory artifacts\boost_%BOOST_VERSION%\inc&#xd;
	exit /b ERRORLEVEL&#xd;
)&#xd;
move /Y boost_%BOOST_VERSION%\boost artifacts\boost_%BOOST_VERSION%\inc&#xd;
if ERRORLEVEL 1 (&#xd;
	echo [FAILURE]: Failed to move boost_%BOOST_VERSION%\boost to artifacts\boost_%BOOST_VERSION%\inc&#xd;
	exit /b ERRORLEVEL&#xd;
)&#xd;
&#xd;
REM Create the include file archive. This we do only for C=release, LL=shared, A=64 and T=msvc-12.0&#xd;
REM Since the headers are all common&#xd;
if &quot;%C%&quot;==&quot;release&quot; (&#xd;
	if &quot;%LL%&quot;==&quot;shared&quot; (&#xd;
		if &quot;%A%&quot;==&quot;64&quot; (&#xd;
			if &quot;%T%&quot;==&quot;msvc-12.0&quot; (&#xd;
				if &quot;%L%&quot;==&quot;WBM&quot; (&#xd;
					pushd artifacts&#xd;
						%SEVENZ% a -t7z &quot;%WORKSPACE%\boost-includes-%BOOST_VERSION%-%BUILD_NUMBER%.7z&quot; -ir!boost_%BOOST_VERSION%\inc&#xd;
					popd&#xd;
				)&#xd;
			)&#xd;
		)&#xd;
	)&#xd;
)&#xd;
&#xd;
mkdir artifacts\boost_%BOOST_VERSION%\lib\%Platform%\%Configuration%&#xd;
if ERRORLEVEL 1 (&#xd;
	echo [FAILURE]: Failed to create the directory artifacts\boost_%BOOST_VERSION%\lib\%Platform%\%Configuration%&#xd;
	exit /b ERRORLEVEL&#xd;
)&#xd;
&#xd;
move /Y boost_%BOOST_VERSION%\lib\%C%\lib\*.lib artifacts\boost_%BOOST_VERSION%\lib\%Platform%\%Configuration%&#xd;
if ERRORLEVEL 1 (&#xd;
	echo [FAILURE]: Failed to move boost_%BOOST_VERSION%\lib\%C%\lib\*.lib to artifacts\boost_%BOOST_VERSION%\lib\%Platform%\%Configuration%inc&#xd;
	exit /b ERRORLEVEL&#xd;
)&#xd;
&#xd;
if &quot;%LL%&quot;==&quot;shared&quot; (&#xd;
	mkdir artifacts\boost_%BOOST_VERSION%\bin\%Platform%\%Configuration%&#xd;
	if ERRORLEVEL 1 (&#xd;
		echo [FAILURE]: Failed to create the directory artifacts\boost_%BOOST_VERSION%\bin\%Platform%\%Configuration%&#xd;
		exit /b ERRORLEVEL&#xd;
	)&#xd;
	move /Y boost_%BOOST_VERSION%\lib\%C%\lib\*.dll artifacts\boost_%BOOST_VERSION%\bin\%Platform%\%Configuration%&#xd;
	if ERRORLEVEL 1 (&#xd;
		echo [FAILURE]: Failed to move boost_%BOOST_VERSION%\lib\%C%\lib\*.dll to artifacts\boost_%BOOST_VERSION%\bin\%Platform%\%Configuration%&#xd;
		exit /b ERRORLEVEL&#xd;
	)&#xd;
	&#xd;
	pushd boost_%BOOST_VERSION%\bin.v2\libs&#xd;
		for /r %%i in (*.pdb) do (&#xd;
			move /Y %%i .\..\..\..\artifacts\boost_%BOOST_VERSION%\bin\%Platform%\%Configuration%&#xd;
			if ERRORLEVEL 1 (&#xd;
				echo [FAILURE]: Failed to move %%i to .\..\..\..\artifacts\boost_%BOOST_VERSION%\bin\%Platform%\%Configuration%&#xd;
				exit /b ERRORLEVEL&#xd;
			)&#xd;
		)&#xd;
	popd&#xd;
	&#xd;
	rmdir /S /Q boost_%BOOST_VERSION%\bin.v2&#xd;
	if ERRORLEVEL 1 (&#xd;
		echo [WARN]: Failed to delete the directory boost_%BOOST_VERSION%\bin.v2&#xd;
	)&#xd;
	&#xd;
	pushd artifacts&#xd;
		%SEVENZ% a -t7z &quot;%WORKSPACE%\boost-binaries-link-%LL%-runtime-%R%-%Configuration%-%PlatformToolset%-%PLATFORM_ARCH_SHORT%-%BOOST_VERSION%-%BUILD_NUMBER%.7z&quot; -ir!boost_%BOOST_VERSION%\bin&#xd;
	popd&#xd;
)&#xd;
&#xd;
pushd artifacts&#xd;
	%SEVENZ% a -t7z &quot;%WORKSPACE%\boost-lib-link-%LL%-runtime-%R%-%Configuration%-%PlatformToolset%-%PLATFORM_ARCH_SHORT%-%BOOST_VERSION%-%BUILD_NUMBER%.7z&quot; -ir!boost_%BOOST_VERSION%\lib&#xd;
popd&#xd;
&#xd;
endlocal&#xd;
</command>
    </hudson.tasks.BatchFile>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>boost-*-${BOOST_VERSION}-${BUILD_NUMBER}.7z</artifacts>
      <allowEmptyArchive>false</allowEmptyArchive>
      <onlyIfSuccessful>false</onlyIfSuccessful>
      <fingerprint>true</fingerprint>
      <defaultExcludes>true</defaultExcludes>
    </hudson.tasks.ArtifactArchiver>
  </publishers>
  <buildWrappers>
    <hudson.plugins.ws__cleanup.PreBuildCleanup plugin="ws-cleanup@0.26">
      <deleteDirs>false</deleteDirs>
      <cleanupParameter></cleanupParameter>
      <externalDelete></externalDelete>
    </hudson.plugins.ws__cleanup.PreBuildCleanup>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.6.2"/>
    <com.michelin.cio.hudson.plugins.copytoslave.CopyToSlaveBuildWrapper plugin="copy-to-slave@1.4.4">
      <includes>boost/${BOOST_VERSION}/boost_${BOOST_VERSION}.7z</includes>
      <excludes></excludes>
      <flatten>false</flatten>
      <includeAntExcludes>false</includeAntExcludes>
      <hudsonHomeRelative>false</hudsonHomeRelative>
      <relativeTo>userContent</relativeTo>
    </com.michelin.cio.hudson.plugins.copytoslave.CopyToSlaveBuildWrapper>
    <org.jenkinsci.plugins.buildnamesetter.BuildNameSetter plugin="build-name-setter@1.3">
      <template>${ENV,var=&quot;BOOST_VERSION&quot;}-${BUILD_NUMBER}</template>
    </org.jenkinsci.plugins.buildnamesetter.BuildNameSetter>
  </buildWrappers>
  <executionStrategy class="hudson.matrix.DefaultMatrixExecutionStrategyImpl">
    <runSequentially>false</runSequentially>
    <sorter class="hudson.matrix.NoopMatrixConfigurationSorter"/>
  </executionStrategy>
</matrix-project>