<?xml version='1.0' encoding='UTF-8'?>
<matrix-project plugin="matrix-project@1.4">
  <actions/>
  <description>A PARallel API. This job builds the Windows version of the APARAPI Libraries using VS2012 and VS2013.</description>
  <logRotator class="hudson.tasks.LogRotator">
    <daysToKeep>-1</daysToKeep>
    <numToKeep>5</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.security.AuthorizationMatrixProperty>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update:msingh</permission>
      <permission>hudson.model.Run.Delete:msingh</permission>
      <permission>hudson.model.Item.Workspace:msingh</permission>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Delete:msingh</permission>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains:msingh</permission>
      <permission>hudson.model.Item.Configure:msingh</permission>
      <permission>hudson.model.Item.Cancel:msingh</permission>
      <permission>hudson.model.Item.Delete:msingh</permission>
      <permission>hudson.model.Item.Read:anonymous</permission>
      <permission>hudson.model.Item.Read:msingh</permission>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:msingh</permission>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create:msingh</permission>
      <permission>hudson.model.Item.Build:msingh</permission>
      <permission>hudson.scm.SCM.Tag:msingh</permission>
      <permission>hudson.model.Item.Discover:msingh</permission>
      <permission>hudson.model.Run.Update:msingh</permission>
    </hudson.security.AuthorizationMatrixProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.plugins.copyartifact.BuildSelectorParameter plugin="copyartifact@1.32.1">
          <name>BUILD_SELECTOR_OPENCL</name>
          <description></description>
          <defaultSelector class="hudson.plugins.copyartifact.TriggeredBuildSelector">
            <fallbackToLastSuccessful>true</fallbackToLastSuccessful>
            <upstreamFilterStrategy>UseGlobalSetting</upstreamFilterStrategy>
          </defaultSelector>
        </hudson.plugins.copyartifact.BuildSelectorParameter>
        <hudson.plugins.matrix__configuration__parameter.MatrixCombinationsParameterDefinition plugin="matrix-combinations-parameter@1.0.7">
          <name>BUILD_MATRIX</name>
          <description>Choose the Visual Studio for building the APARAPI libraries
</description>
        </hudson.plugins.matrix__configuration__parameter.MatrixCombinationsParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.22">
      <autoRebuild>false</autoRebuild>
    </com.sonyericsson.rebuild.RebuildSettings>
    <EnvInjectJobProperty plugin="envinject@1.90">
      <info>
        <groovyScriptContent>// Copyright (c) 2014 Advanced Micro Devices, Inc. All rights reserved.

def map = [:] ;

if( JOB_NAME.contains( &quot;i586&quot; ) ) {
	map.put( &quot;PLATFORM_ARCH_AMD&quot;, &quot;x86&quot; );
	map.put( &quot;PLATFORM_ARCH_INTEL&quot;, &quot;x86&quot; );
}

if( JOB_NAME.contains( &quot;x64&quot; ) ) {
	map.put( &quot;PLATFORM_ARCH_AMD&quot;, &quot;amd64&quot; );
	map.put( &quot;PLATFORM_ARCH_INTEL&quot;, &quot;x86_64&quot; );
}

println &apos;---------------------------------&apos;;
println map;
println &apos;---------------------------------&apos;;

return map;</groovyScriptContent>
        <loadFilesFromMaster>false</loadFilesFromMaster>
      </info>
      <on>true</on>
      <keepJenkinsSystemVariables>true</keepJenkinsSystemVariables>
      <keepBuildVariables>true</keepBuildVariables>
      <overrideBuildParameters>false</overrideBuildParameters>
      <contributors/>
    </EnvInjectJobProperty>
  </properties>
  <scm class="hudson.scm.SubversionSCM" plugin="subversion@2.5">
    <locations>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>http://aparapi.googlecode.com/svn/trunk</remote>
        <credentialsId></credentialsId>
        <local>.</local>
        <depthOption>infinity</depthOption>
        <ignoreExternalsOption>true</ignoreExternalsOption>
      </hudson.scm.SubversionSCM_-ModuleLocation>
    </locations>
    <excludedRegions></excludedRegions>
    <includedRegions></includedRegions>
    <excludedUsers></excludedUsers>
    <excludedRevprop></excludedRevprop>
    <excludedCommitMessages></excludedCommitMessages>
    <workspaceUpdater class="hudson.scm.subversion.UpdateUpdater"/>
    <ignoreDirPropChanges>false</ignoreDirPropChanges>
    <filterChangelog>false</filterChangelog>
  </scm>
  <assignedNode>WBM_amd64</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>true</concurrentBuild>
  <axes>
    <hudson.matrix.TextAxis>
      <name>JDK</name>
      <values>
        <string>1.8</string>
        <string>1.7</string>
      </values>
    </hudson.matrix.TextAxis>
    <hudson.matrix.TextAxis>
      <name>P</name>
      <values>
        <string>i586</string>
        <string>x64</string>
      </values>
    </hudson.matrix.TextAxis>
    <hudson.matrix.LabelExpAxis>
      <name>L</name>
      <values>
        <string>LBM</string>
      </values>
    </hudson.matrix.LabelExpAxis>
  </axes>
  <builders>
    <EnvInjectBuilder plugin="envinject@1.90">
      <info>
        <propertiesContent>AMDAPPSDKROOT=${WORKSPACE}/AMDAPPSDKROOT</propertiesContent>
      </info>
    </EnvInjectBuilder>
    <hudson.plugins.copyartifact.CopyArtifact plugin="copyartifact@1.32.1">
      <project>OCL_L/C=rel,L=LBM,P=${PLATFORM_ARCH_AMD}/</project>
      <filter>OpenCL_*_linux_release_${PLATFORM_ARCH_AMD}.tar.bz2</filter>
      <target></target>
      <excludes></excludes>
      <selector class="hudson.plugins.copyartifact.ParameterizedBuildSelector">
        <parameterName>BUILD_SELECTOR_OPENCL</parameterName>
      </selector>
      <doNotFingerprintArtifacts>false</doNotFingerprintArtifacts>
    </hudson.plugins.copyartifact.CopyArtifact>
    <hudson.tasks.Shell>
      <command>#!/bin/bash

echo AMDAPPSDKROOT: $AMDAPPSDKROOT

OPENCL_ARCHIVE=$(readlink -f OpenCL_*_linux_release_${PLATFORM_ARCH_AMD}.tar.bz2)
echo [INFO]OPENCL_ARCHIVE: $OPENCL_ARCHIVE

if [ -e $AMDAPPSDKROOT ]; then
	rm -rvf $AMDAPPSDKROOT
fi

mkdir -pv $AMDAPPSDKROOT

tar -jxvf ${OPENCL_ARCHIVE} --exclude=etc --exclude=include/acl --exclude=include/opencl1.2 --exclude=bin --exclude=lib/${PLATFORM_ARCH_INTEL}/*.bc -C ${AMDAPPSDKROOT}

pushd ${AMDAPPSDKROOT}/include
	rm -vf *.h *.hpp
	mv -vf opencl2.0/CL ./
	rm -rvf opencl2.0
popd

rm -vf *.tar.bz2</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>#!/bin/bash

export JAVA_HOME=/opt/jdk/${P}/jdk${JDK}.latest
export PATH=$JAVA_HOME/bin:$PATH
export PATH=$ANT_HOME/bin:$PATH

echo AMDAPPSDKROOT: $AMDAPPSDKROOT
echo ANT_HOME: $ANT_HOME
echo JAVA_HOME: $JAVA_HOME
echo PATH: $PATH

echo [INFO]Pushing to directory com.amd.aparapi

pushd com.amd.aparapi
	ant clean build
popd

echo [INFO]Popping from directory com.amd.aparapi</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>#!/bin/bash

export JAVA_HOME=$(readlink -f /opt/jdk/${P}/jdk${JDK}.latest)
export PATH=$JAVA_HOME/bin:$PATH
export PATH=$ANT_HOME/bin:$PATH

echo AMDAPPSDKROOT: $AMDAPPSDKROOT
echo ANT_HOME: $ANT_HOME
echo JAVA_HOME: $JAVA_HOME
echo PATH: $PATH
echo [INFO]Pushing to directory com.amd.aparapi.jni

if [ ! -e /opt/AMDAPP ]; then
	echo [INFO]Creating the soft-link /opt/AMDAPP
	ln -sv $AMDAPPSDKROOT /opt/AMDAPP
fi

GCC_VERSION=$(gcc -dumpversion)

pushd com.amd.aparapi.jni
	#delete the -lOpenCL from the build.xml
	sed -i.bak &apos;/-lOpenCL/d&apos; build.xml
	dos2unix -k -o build.properties
	ant clean build
	pushd dist
		cp -vf $WORKSPACE/com.amd.aparapi/dist/*.jar ./
		tar -cjvf ${WORKSPACE}/APARAPI_gcc-${GCC_VERSION}-JDK${JDK}-${OSTYPE}-${PLATFORM_ARCH_AMD}_${BUILD_NUMBER}.tar.bz2 *
	popd
popd
echo [INFO]Popping from directory com.amd.aparapi.jni

if [ -e /opt/AMDAPP ]; then
	echo [INFO]Removing the soft-link /opt/AMDAPP
	unlink /opt/AMDAPP
else
	echo [INFO]Soft-link /opt/AMDAPP does not exist
fi
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>APARAPI_*-JDK${JDK}-${OSTYPE}-${PLATFORM_ARCH_AMD}_${BUILD_NUMBER}.tar.bz2</artifacts>
      <allowEmptyArchive>false</allowEmptyArchive>
      <onlyIfSuccessful>false</onlyIfSuccessful>
      <fingerprint>true</fingerprint>
      <defaultExcludes>true</defaultExcludes>
    </hudson.tasks.ArtifactArchiver>
  </publishers>
  <buildWrappers>
    <hudson.plugins.ws__cleanup.PreBuildCleanup plugin="ws-cleanup@0.24">
      <deleteDirs>false</deleteDirs>
      <cleanupParameter></cleanupParameter>
      <externalDelete></externalDelete>
    </hudson.plugins.ws__cleanup.PreBuildCleanup>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.5.15"/>
  </buildWrappers>
  <executionStrategy class="hudson.matrix.DefaultMatrixExecutionStrategyImpl">
    <runSequentially>false</runSequentially>
    <sorter class="hudson.matrix.NoopMatrixConfigurationSorter"/>
  </executionStrategy>
</matrix-project>