<?xml version='1.0' encoding='UTF-8'?>
<matrix-project plugin="matrix-project@1.6">
  <actions/>
  <description>Builds the Xalan-C XSLT libraries using various Visual Studios.</description>
  <logRotator class="hudson.tasks.LogRotator">
    <daysToKeep>-1</daysToKeep>
    <numToKeep>3</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.security.AuthorizationMatrixProperty>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update:msingh</permission>
      <permission>hudson.model.Run.Delete:msingh</permission>
      <permission>hudson.model.Item.Workspace:msingh</permission>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Delete:msingh</permission>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains:msingh</permission>
      <permission>hudson.model.Item.Configure:msingh</permission>
      <permission>hudson.model.Item.Cancel:msingh</permission>
      <permission>hudson.model.Item.Delete:msingh</permission>
      <permission>hudson.model.Item.Read:anonymous</permission>
      <permission>hudson.model.Item.Read:msingh</permission>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:msingh</permission>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create:msingh</permission>
      <permission>hudson.model.Item.Build:msingh</permission>
      <permission>hudson.scm.SCM.Tag:msingh</permission>
      <permission>hudson.model.Item.Discover:msingh</permission>
      <permission>hudson.model.Run.Update:msingh</permission>
    </hudson.security.AuthorizationMatrixProperty>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.7.1">
      <useBuildBlocker>false</useBuildBlocker>
      <blockLevel>GLOBAL</blockLevel>
      <scanQueueFor>DISABLED</scanQueueFor>
      <blockingJobs></blockingJobs>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
    <jenkins.plugins.jobicon.CustomIconProperty plugin="custom-job-icon@0.2">
      <iconfile>b0797e7d7e2218271c6b486b7d9cc4f74e7e2e86.png</iconfile>
    </jenkins.plugins.jobicon.CustomIconProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>MAJOR_NUMBER</name>
          <description></description>
          <defaultValue>1</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>MINOR_NUMBER</name>
          <description></description>
          <defaultValue>11</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.plugins.matrix__configuration__parameter.MatrixCombinationsParameterDefinition plugin="matrix-combinations-parameter@1.0.9">
          <name>BUILD_MATRIX</name>
          <description></description>
        </hudson.plugins.matrix__configuration__parameter.MatrixCombinationsParameterDefinition>
        <hudson.plugins.copyartifact.BuildSelectorParameter plugin="copyartifact@1.35.2">
          <name>BUILD_SELECTOR_XERCES</name>
          <description>Select the Xerces to be used for building the xalan C++ libraries</description>
          <defaultSelector class="hudson.plugins.copyartifact.StatusBuildSelector"/>
        </hudson.plugins.copyartifact.BuildSelectorParameter>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <org.jenkinsci.plugins.customizebuildnow.BuildNowTextProperty plugin="customize-build-now@1.0"/>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.25">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <org.jenkinsci.plugins.requeuejob.RequeueJobProperty plugin="jobrequeue@1.0">
      <requeueJob>false</requeueJob>
    </org.jenkinsci.plugins.requeuejob.RequeueJobProperty>
    <hudson.plugins.throttleconcurrents.ThrottleJobProperty plugin="throttle-concurrents@1.8.4">
      <maxConcurrentPerNode>0</maxConcurrentPerNode>
      <maxConcurrentTotal>0</maxConcurrentTotal>
      <throttleEnabled>false</throttleEnabled>
      <throttleOption>project</throttleOption>
      <matrixOptions>
        <throttleMatrixBuilds>true</throttleMatrixBuilds>
        <throttleMatrixConfigurations>false</throttleMatrixConfigurations>
      </matrixOptions>
    </hudson.plugins.throttleconcurrents.ThrottleJobProperty>
    <EnvInjectJobProperty plugin="envinject@1.92.1">
      <info>
        <groovyScriptContent>// Copyright (c) 2014 Advanced Micro Devices, Inc. All rights reserved.

import java.lang.String;

def map = [:] ;
def FILES_TO_COPY=&quot;Environ.bat&quot;;

if ( JOB_NAME.contains( &quot;v120&quot; ) ) {
	map.put( &quot;VSNAME&quot;, &quot;VS2013&quot; );
	map.put( &quot;VCNAME_FULL&quot;, &quot;Visual C++ 2013&quot; );
	map.put( &quot;VCTOOLKIT_SHORT&quot;, &quot;vc12&quot; );
	map.put( &quot;VCNAME_ALT&quot;, &quot;VC12&quot; );
	map.put( &quot;VSKEY&quot;, &quot;12.0&quot; );
	FILES_TO_COPY += &quot;,xalan/VC12.7z&quot;;
}

if ( JOB_NAME.contains( &quot;v110&quot; ) ) {
	map.put( &quot;VSNAME&quot;, &quot;VS2012&quot; );
	map.put( &quot;VCNAME_FULL&quot;, &quot;Visual C++ 2012&quot; );
	map.put( &quot;VCTOOLKIT_SHORT&quot;, &quot;vc11&quot; );
	map.put( &quot;VCNAME_ALT&quot;, &quot;VC11&quot; );
	map.put( &quot;VSKEY&quot;, &quot;11.0&quot; );
	FILES_TO_COPY += &quot;,xalan/VC11.7z&quot;;
}

if ( JOB_NAME.contains( &quot;v100&quot; ) ) {
	map.put( &quot;VSNAME&quot;, &quot;VS2010&quot; );
	map.put( &quot;VCNAME_FULL&quot;, &quot;Visual C++ 2010&quot; );
	map.put( &quot;VCTOOLKIT_SHORT&quot;, &quot;vc10&quot; );
	map.put( &quot;VCNAME_ALT&quot;, &quot;VC10&quot; );
	map.put( &quot;VSKEY&quot;, &quot;10.0&quot; );
}

if ( JOB_NAME.contains( &quot;Win32&quot; ) ) {
	map.put( &quot;VCVARS_C&quot;, &quot;x86_amd64&quot; );
	map.put( &quot;XERCES_BUILD_ARCH&quot;, &quot;Win32&quot; );
}

if ( JOB_NAME.contains( &quot;x64&quot; ) ) {
	map.put( &quot;VCVARS_C&quot;, &quot;amd64&quot; );
	map.put( &quot;XERCES_BUILD_ARCH&quot;, &quot;Win64&quot; );
}

map.put( &quot;J&quot;, &quot;1.8&quot; );
map.put( &quot;FILES_TO_COPY&quot;, FILES_TO_COPY );
map.put( &quot;ARCHIVE_EXTENSION&quot;, &quot;7z&quot; );

println &apos;---------------------------------&apos;;
println map;
println &apos;---------------------------------&apos;;

return map;</groovyScriptContent>
        <loadFilesFromMaster>false</loadFilesFromMaster>
      </info>
      <on>true</on>
      <keepJenkinsSystemVariables>true</keepJenkinsSystemVariables>
      <keepBuildVariables>true</keepBuildVariables>
      <overrideBuildParameters>false</overrideBuildParameters>
      <contributors/>
    </EnvInjectJobProperty>
  </properties>
  <scm class="hudson.scm.SubversionSCM" plugin="subversion@2.5.2">
    <locations>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>http://svn.apache.org/repos/asf/xalan/c/tags/Xalan-C_1_11_0</remote>
        <credentialsId></credentialsId>
        <local>.</local>
        <depthOption>infinity</depthOption>
        <ignoreExternalsOption>true</ignoreExternalsOption>
      </hudson.scm.SubversionSCM_-ModuleLocation>
    </locations>
    <excludedRegions></excludedRegions>
    <includedRegions></includedRegions>
    <excludedUsers></excludedUsers>
    <excludedRevprop></excludedRevprop>
    <excludedCommitMessages></excludedCommitMessages>
    <workspaceUpdater class="hudson.scm.subversion.UpdateUpdater"/>
    <ignoreDirPropChanges>false</ignoreDirPropChanges>
    <filterChangelog>false</filterChangelog>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <axes>
    <hudson.matrix.TextAxis>
      <name>C</name>
      <values>
        <string>Release</string>
        <string>Debug</string>
      </values>
    </hudson.matrix.TextAxis>
    <hudson.matrix.TextAxis>
      <name>P</name>
      <values>
        <string>Win32</string>
        <string>x64</string>
      </values>
    </hudson.matrix.TextAxis>
    <hudson.matrix.TextAxis>
      <name>T</name>
      <values>
        <string>v120</string>
        <string>v110</string>
        <string>v100</string>
      </values>
    </hudson.matrix.TextAxis>
    <hudson.matrix.LabelAxis>
      <name>L</name>
      <values>
        <string>WBM_amd64</string>
      </values>
    </hudson.matrix.LabelAxis>
  </axes>
  <builders>
    <hudson.plugins.xshell.XShellBuilder plugin="xshell@0.10">
      <commandLine>Environ.bat</commandLine>
      <executeFromWorkingDir>true</executeFromWorkingDir>
      <regexToKill></regexToKill>
      <timeAllocated></timeAllocated>
    </hudson.plugins.xshell.XShellBuilder>
    <EnvInjectBuilder plugin="envinject@1.92.1">
      <info>
        <propertiesFilePath>$WORKSPACE/Environ.props</propertiesFilePath>
      </info>
    </EnvInjectBuilder>
    <hudson.plugins.copyartifact.CopyArtifact plugin="copyartifact@1.35.2">
      <project>xerces/C=${C},L=WBM,P=${P},T=${T}</project>
      <filter>xerces-*-bin-${C}-${P}-${T}.${ARCHIVE_EXTENSION}</filter>
      <target></target>
      <excludes></excludes>
      <selector class="hudson.plugins.copyartifact.ParameterizedBuildSelector">
        <parameterName>BUILD_SELECTOR_XERCES</parameterName>
      </selector>
      <doNotFingerprintArtifacts>false</doNotFingerprintArtifacts>
    </hudson.plugins.copyartifact.CopyArtifact>
    <hudson.plugins.copyartifact.CopyArtifact plugin="copyartifact@1.35.2">
      <project>xerces/C=Release,L=WBM,P=x64,T=v120</project>
      <filter>xerces-*-inc.${ARCHIVE_EXTENSION}</filter>
      <target></target>
      <excludes></excludes>
      <selector class="hudson.plugins.copyartifact.ParameterizedBuildSelector">
        <parameterName>BUILD_SELECTOR_XERCES</parameterName>
      </selector>
      <doNotFingerprintArtifacts>false</doNotFingerprintArtifacts>
    </hudson.plugins.copyartifact.CopyArtifact>
    <hudson.tasks.BatchFile>
      <command>@echo off&#xd;
setlocal enabledelayedexpansion&#xd;
&#xd;
::-Get the xerces version number from the archive xerces-src-3.1.1-22.7z&#xd;
::-------------------------------------------&#xd;
set XERCES_INC_ARCHIVE=&#xd;
for /r %%i in (xerces-*-inc.%ARCHIVE_EXTENSION%) do (&#xd;
	set XERCES_INC_ARCHIVE=%%~ni&#xd;
)&#xd;
&#xd;
echo [INFO]XERCES_INC_ARCHIVE: !XERCES_INC_ARCHIVE!&#xd;
&#xd;
if NOT Exist &quot;!XERCES_INC_ARCHIVE!&quot; (&#xd;
	mkdir &quot;!XERCES_INC_ARCHIVE!&quot;&#xd;
)&#xd;
&#xd;
echo XERCESCROOT=%WORKSPACE%\!XERCES_INC_ARCHIVE! &gt; XercesEnviron.props&#xd;
echo XALANCROOT=%WORKSPACE% &gt;&gt; XercesEnviron.props&#xd;
&#xd;
endlocal</command>
    </hudson.tasks.BatchFile>
    <EnvInjectBuilder plugin="envinject@1.92.1">
      <info>
        <propertiesFilePath>${WORKSPACE}\XercesEnviron.props</propertiesFilePath>
      </info>
    </EnvInjectBuilder>
    <hudson.tasks.BatchFile>
      <command>@echo off&#xd;
setlocal&#xd;
&#xd;
echo [INFO]MSBUILD: %MSBUILD%&#xd;
echo [INFO]SEVENZ: %SEVENZ%&#xd;
echo [INFO]XERCESCROOT: %XERCESCROOT%&#xd;
echo [INFO]XALANCROOT: %XALANCROOT%&#xd;
 &#xd;
echo [INFO]Calling: %SEVENZ% x -aoa xerces-*-inc.%ARCHIVE_EXTENSION% -o&quot;%XERCESCROOT%&quot;&#xd;
%SEVENZ% x -aoa xerces-*-inc.%ARCHIVE_EXTENSION% -o&quot;%XERCESCROOT%&quot;&#xd;
if ERRORLEVEL 1 (&#xd;
	echo [FAILURE]: Failed to extract xerces-*-inc.%ARCHIVE_EXTENSION%&#xd;
	exit /b ERRORLEVEL&#xd;
)&#xd;
&#xd;
::- extract the binary xerces-bin-Debug-Win32-v120-3.1.1-22.%ARCHIVE_EXTENSION% into the XERCESCROOT directory&#xd;
echo [INFO]Calling: %SEVENZ% x -aoa xerces-*-bin-%C%-%P%-%T%.%ARCHIVE_EXTENSION% -o&quot;%XERCESCROOT%&quot;&#xd;
%SEVENZ% x -aoa xerces-*-bin-%C%-%P%-%T%.%ARCHIVE_EXTENSION% -o&quot;%XERCESCROOT%&quot;&#xd;
if ERRORLEVEL 1 (&#xd;
	echo [FAILURE]: Failed to extract xerces-*-bin-%C%-%P%-%T%.%ARCHIVE_EXTENSION%&#xd;
	exit /b ERRORLEVEL&#xd;
)&#xd;
&#xd;
if NOT EXIST &quot;%XALANCROOT%\Build\%XERCES_BUILD_ARCH%\%VCNAME_ALT%\%C%&quot; (&#xd;
	mkdir &quot;%XALANCROOT%\Build\%XERCES_BUILD_ARCH%\%VCNAME_ALT%\%C%&quot;&#xd;
)&#xd;
&#xd;
copy /V /Y &quot;%XERCESCROOT%\Build\%XERCES_BUILD_ARCH%\%VCNAME_ALT%\%C%\*.dll&quot; &quot;%XALANCROOT%\Build\%XERCES_BUILD_ARCH%\%VCNAME_ALT%\%C%&quot;&#xd;
&#xd;
dir &quot;%XALANCROOT%\Build\%XERCES_BUILD_ARCH%\%VCNAME_ALT%\%C%&quot;&#xd;
&#xd;
set PATH=%XERCESCROOT%\Build\%P%\%VCNAME_ALT%\%C%;%PATH%&#xd;
::-First build only the MsgCreator project&#xd;
set SLN=%WORKSPACE%\Projects\Win32\%VCNAME_ALT%\xalan.sln&#xd;
&#xd;
::-Extract the appropriate Project files only for VS 2012 and above&#xd;
if NOT &quot;%T%&quot;==&quot;v100&quot; (&#xd;
	echo [INFO]Calling: %SEVENZ% x -aoa xalan\%VCNAME_ALT%.%ARCHIVE_EXTENSION% -o&quot;%WORKSPACE%\projects\Win32&quot;&#xd;
	%SEVENZ% x -aoa xalan\%VCNAME_ALT%.%ARCHIVE_EXTENSION% -o&quot;%WORKSPACE%\projects\Win32&quot;&#xd;
	if ERRORLEVEL 1 (&#xd;
		echo [FAILURE]: Failed to extract xalan\%VCNAME_ALT%.%ARCHIVE_EXTENSION%&#xd;
		exit /b ERRORLEVEL&#xd;
	)&#xd;
)	&#xd;
&#xd;
echo [INFO]Calling &quot;%MSVC.DIR%\VC\vcvarsall.bat&quot; %VCVARS_C%&#xd;
call &quot;%MSVC.DIR%\VC\vcvarsall.bat&quot; %VCVARS_C%&#xd;
echo [INFO]Calling devenv &quot;%SLN%&quot; /build &quot;%C%|%P%&quot;&#xd;
devenv &quot;%SLN%&quot; /build &quot;%C%|%P%&quot;&#xd;
if ERRORLEVEL 1 (&#xd;
	echo [FAILURE]Failed to build %SLN% using devenv&#xd;
	exit /b ERRORLEVEL&#xd;
)&#xd;
&#xd;
::-Success archive the artifacts&#xd;
set XALANC_BINARY_ARCHIVE=xalanc-%VERSION%-bin-%C%-%P%-%T%.%ARCHIVE_EXTENSION%&#xd;
echo [INFO]Calling: %SEVENZ% a -t%ARCHIVE_EXTENSION% %XALANC_BINARY_ARCHIVE% -i!&quot;Build/*/*/%C%/Xalan-C*.dll&quot; -i!&quot;Build/*/*/%C%/Xalan-C*.lib&quot; -i!&quot;Build/*/*/%C%/XalanMessages*.dll&quot; -i!&quot;Build/*/*/%C%/XalanMsgLib*.lib&quot;&#xd;
%SEVENZ% a -t%ARCHIVE_EXTENSION% %XALANC_BINARY_ARCHIVE% -i!&quot;Build/*/*/%C%/Xalan-C*.dll&quot; -i!&quot;Build/*/*/%C%/Xalan-C*.lib&quot; -i!&quot;Build/*/*/%C%/XalanMessages*.dll&quot; -i!&quot;Build/*/*/%C%/XalanMsgLib*.lib&quot;&#xd;
if ERRORLEVEL 1 (&#xd;
	echo [FAILURE]Failed to create archive %XALANC_BINARY_ARCHIVE%&#xd;
	exit /b ERRORLEVEL&#xd;
)&#xd;
&#xd;
if &quot;%T%&quot;==&quot;v120&quot; (&#xd;
	if &quot;%P%&quot;==&quot;x64&quot; (&#xd;
		if &quot;%C%&quot;==&quot;Release&quot; (&#xd;
			echo [INFO]Toolkit is %T%, Platform is %P% archiving the Xalan-C headers&#xd;
			&#xd;
			echo [INFO]Calling: %SEVENZ% a -t%ARCHIVE_EXTENSION% &quot;xalanc-%VERSION%-inc.%ARCHIVE_EXTENSION%&quot; -ir!src\xalanc -xr!src\*.svn -x!src\Makefile.*&#xd;
			%SEVENZ% a -t%ARCHIVE_EXTENSION% &quot;xalanc-%VERSION%-inc.%ARCHIVE_EXTENSION%&quot; -ir!src\xalanc -xr!src\*.svn -x!src\Makefile.*&#xd;
			&#xd;
			echo [INFO]Calling: %SEVENZ% a -t%ARCHIVE_EXTENSION% &quot;xalanc-%VERSION%-license.%ARCHIVE_EXTENSION%&quot; -i!LICENSE&#xd;
			%SEVENZ% a -t%ARCHIVE_EXTENSION% &quot;xalanc-%VERSION%-license.%ARCHIVE_EXTENSION%&quot; -i!LICENSE&#xd;
		) else (&#xd;
			echo [INFO]Toolkit is %T%, Platform is %P%, however Configuration is %C% hence skipping archiving the Xalan-C headers&#xd;
		)&#xd;
	) else (&#xd;
		echo [INFO]Toolkit is %T%, however Platform is %P% hence skipping archiving the Xalan-C headers&#xd;
	)&#xd;
) else (&#xd;
	echo [INFO]Toolkit is %T%, hence skipping archiving the Xalan-C headers&#xd;
)&#xd;
&#xd;
endlocal&#xd;
</command>
    </hudson.tasks.BatchFile>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>xalanc-${VERSION}-*.${ARCHIVE_EXTENSION}</artifacts>
      <allowEmptyArchive>false</allowEmptyArchive>
      <onlyIfSuccessful>false</onlyIfSuccessful>
      <fingerprint>true</fingerprint>
      <defaultExcludes>true</defaultExcludes>
    </hudson.tasks.ArtifactArchiver>
  </publishers>
  <buildWrappers>
    <hudson.plugins.ws__cleanup.PreBuildCleanup plugin="ws-cleanup@0.28">
      <deleteDirs>false</deleteDirs>
      <cleanupParameter></cleanupParameter>
      <externalDelete></externalDelete>
    </hudson.plugins.ws__cleanup.PreBuildCleanup>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.7.2"/>
    <com.michelin.cio.hudson.plugins.copytoslave.CopyToSlaveBuildWrapper plugin="copy-to-slave@1.4.4">
      <includes>${FILES_TO_COPY}</includes>
      <excludes></excludes>
      <flatten>false</flatten>
      <includeAntExcludes>false</includeAntExcludes>
      <hudsonHomeRelative>false</hudsonHomeRelative>
      <relativeTo>userContent</relativeTo>
    </com.michelin.cio.hudson.plugins.copytoslave.CopyToSlaveBuildWrapper>
    <EnvInjectBuildWrapper plugin="envinject@1.92.1">
      <info>
        <propertiesContent>VERSION=$MAJOR_NUMBER.$MINOR_NUMBER-$BUILD_NUMBER</propertiesContent>
        <loadFilesFromMaster>false</loadFilesFromMaster>
      </info>
    </EnvInjectBuildWrapper>
    <org.jenkinsci.plugins.buildnamesetter.BuildNameSetter plugin="build-name-setter@1.3">
      <template>${ENV,var=&quot;MAJOR_NUMBER&quot;}.${ENV,var=&quot;MINOR_NUMBER&quot;}-$BUILD_NUMBER</template>
    </org.jenkinsci.plugins.buildnamesetter.BuildNameSetter>
  </buildWrappers>
  <executionStrategy class="hudson.matrix.DefaultMatrixExecutionStrategyImpl">
    <runSequentially>false</runSequentially>
    <sorter class="hudson.matrix.NoopMatrixConfigurationSorter"/>
  </executionStrategy>
</matrix-project>