<?xml version='1.0' encoding='UTF-8'?>
<matrix-project plugin="matrix-project@1.4">
  <actions/>
  <description></description>
  <logRotator class="hudson.tasks.LogRotator">
    <daysToKeep>-1</daysToKeep>
    <numToKeep>10</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.security.AuthorizationMatrixProperty>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update:msingh</permission>
      <permission>hudson.model.Run.Delete:kumarrav</permission>
      <permission>hudson.model.Run.Delete:rhegde</permission>
      <permission>hudson.model.Run.Delete:msingh</permission>
      <permission>hudson.model.Run.Delete:pramayan</permission>
      <permission>hudson.model.Item.Workspace:kishorkl</permission>
      <permission>hudson.model.Item.Workspace:kumarrav</permission>
      <permission>hudson.model.Item.Workspace:rhegde</permission>
      <permission>hudson.model.Item.Workspace:msingh</permission>
      <permission>hudson.model.Item.Workspace:pramayan</permission>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Delete:msingh</permission>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains:msingh</permission>
      <permission>hudson.model.Item.Configure:kishorkl</permission>
      <permission>hudson.model.Item.Configure:kumarrav</permission>
      <permission>hudson.model.Item.Configure:rhegde</permission>
      <permission>hudson.model.Item.Configure:msingh</permission>
      <permission>hudson.model.Item.Configure:pramayan</permission>
      <permission>hudson.model.Item.Cancel:kishorkl</permission>
      <permission>hudson.model.Item.Cancel:kumarrav</permission>
      <permission>hudson.model.Item.Cancel:rhegde</permission>
      <permission>hudson.model.Item.Cancel:msingh</permission>
      <permission>hudson.model.Item.Cancel:pramayan</permission>
      <permission>hudson.model.Item.Read:kishorkl</permission>
      <permission>hudson.model.Item.Read:kumarrav</permission>
      <permission>hudson.model.Item.Read:rhegde</permission>
      <permission>hudson.model.Item.Read:anonymous</permission>
      <permission>hudson.model.Item.Read:msingh</permission>
      <permission>hudson.model.Item.Read:pramayan</permission>
      <permission>hudson.model.Item.Delete:msingh</permission>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:msingh</permission>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create:msingh</permission>
      <permission>hudson.model.Item.Build:kishorkl</permission>
      <permission>hudson.model.Item.Build:kumarrav</permission>
      <permission>hudson.model.Item.Build:rhegde</permission>
      <permission>hudson.model.Item.Build:msingh</permission>
      <permission>hudson.model.Item.Build:pramayan</permission>
      <permission>hudson.scm.SCM.Tag:kumarrav</permission>
      <permission>hudson.scm.SCM.Tag:rhegde</permission>
      <permission>hudson.scm.SCM.Tag:msingh</permission>
      <permission>hudson.scm.SCM.Tag:pramayan</permission>
      <permission>hudson.model.Item.Discover:kishorkl</permission>
      <permission>hudson.model.Item.Discover:kumarrav</permission>
      <permission>hudson.model.Item.Discover:rhegde</permission>
      <permission>hudson.model.Item.Discover:msingh</permission>
      <permission>hudson.model.Item.Discover:pramayan</permission>
      <permission>hudson.model.Run.Update:kishorkl</permission>
      <permission>hudson.model.Run.Update:kumarrav</permission>
      <permission>hudson.model.Run.Update:rhegde</permission>
      <permission>hudson.model.Run.Update:msingh</permission>
      <permission>hudson.model.Run.Update:pramayan</permission>
    </hudson.security.AuthorizationMatrixProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.plugins.copyartifact.BuildSelectorParameter plugin="copyartifact@1.34">
          <name>BUILD_SELECTOR_VDK_BUILD_W</name>
          <description></description>
          <defaultSelector class="hudson.plugins.copyartifact.TriggeredBuildSelector">
            <fallbackToLastSuccessful>true</fallbackToLastSuccessful>
            <upstreamFilterStrategy>UseGlobalSetting</upstreamFilterStrategy>
          </defaultSelector>
        </hudson.plugins.copyartifact.BuildSelectorParameter>
        <hudson.plugins.matrix__configuration__parameter.MatrixCombinationsParameterDefinition plugin="matrix-combinations-parameter@1.0.7">
          <name>BUILD_MATRIX</name>
          <description></description>
        </hudson.plugins.matrix__configuration__parameter.MatrixCombinationsParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>EG_BRANCH</name>
          <description></description>
          <defaultValue>EmbeddedGaming_v1.0PR</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>MAJOR_NUMBER</name>
          <description></description>
          <defaultValue>1</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>MINOR_NUMBER</name>
          <description></description>
          <defaultValue>0</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>SUBMINOR_NUMBER</name>
          <description></description>
          <defaultValue>1</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>MILESTONE</name>
          <description></description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>PR</string>
              <string>Beta</string>
              <string>Alpha</string>
              <string>Dev</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.22">
      <autoRebuild>false</autoRebuild>
    </com.sonyericsson.rebuild.RebuildSettings>
    <EnvInjectJobProperty plugin="envinject@1.90">
      <info>
        <groovyScriptContent>// Copyright (c) 2014 Advanced Micro Devices, Inc. All rights reserved.

import java.lang.String;

//Dump the environment variables
def map = [:];

map.put( &quot;INCLUDE_EG&quot;, &quot;&quot; );
map.put( &quot;INCLUDE_US&quot;, &quot;&quot; );
map.put( &quot;ARCHIVE_EXTENSION&quot;, &quot;7z&quot; );

if (JOB_NAME.contains( &quot;EG&quot; ) ) {
	map.put( &quot;VDK_FULL_NAME&quot;, &quot;EmbeddedGaming&quot; );
	map.put( &quot;VDK_FULL_DISPLAY_NAME&quot;, &quot;Embedded Gaming&quot; );
	map[ &quot;INCLUDE_US&quot; ] = &quot;-&quot;;
}

if ( JOB_NAME.contains( &quot;US&quot; ) ) {
	map.put( &quot;VDK_FULL_NAME&quot;, &quot;Ultrasound&quot; );
	map.put( &quot;VDK_FULL_DISPLAY_NAME&quot;, &quot;Ultrasound&quot; );
	map[ &quot;INCLUDE_EG&quot; ] = &quot;-&quot;;
}

map.put( &quot;J&quot;, &quot;1.8&quot; );
def VDK_PRODUCT_VERSION_DISPLAY = MAJOR_NUMBER + &quot;.&quot; + MINOR_NUMBER  + &quot;-&quot; + SUBMINOR_NUMBER + &quot; &quot; + MILESTONE;
map.put( &quot;VDK_PRODUCT_VERSION_DISPLAY&quot;, VDK_PRODUCT_VERSION_DISPLAY );

println &apos;--------------------------------------------------------------&apos;;
println &apos;JOB_NAME: &apos; + JOB_NAME;
println &apos;BUILD_MATRIX: &apos; + BUILD_MATRIX;
println &apos;Environment variables inserted: &apos; + map;
println &apos;--------------------------------------------------------------&apos;;

return map;</groovyScriptContent>
        <loadFilesFromMaster>false</loadFilesFromMaster>
      </info>
      <on>true</on>
      <keepJenkinsSystemVariables>true</keepJenkinsSystemVariables>
      <keepBuildVariables>true</keepBuildVariables>
      <overrideBuildParameters>false</overrideBuildParameters>
      <contributors/>
    </EnvInjectJobProperty>
  </properties>
  <scm class="hudson.plugins.perforce.PerforceSCM" plugin="perforce@1.3.33">
    <configVersion>2</configVersion>
    <p4User>jenkinshas</p4User>
    <p4Passwd>0f0kqlwarTrhwM5Z6nxTElYaqlJF/g==</p4Passwd>
    <p4Port>hyswp4p1.amd.com:1666</p4Port>
    <p4Client>${JOB_NAME}</p4Client>
    <projectPath>//depot/stg/cas/apps/cas/sdk_root/VDK/Installers/windows/VDK.ism //workspace/Installers/windows/VDK.ism
//depot/stg/cas/apps/cas/sdk_root/VDK/Installers/UnifiedSDKEULA.rtf  //workspace/Installers/UnifiedSDKEULA.rtf
//depot/stg/cas/apps/cas/installers/InstallManagerExtn/UnifiedInstaller/resources/AMD.ico //workspace/Installers/AMD.ico
&quot;${INCLUDE_EG}//depot/stg/cas/apps/cas/sdk_root/VDK/${EG_BRANCH}/docs/*.pdf&quot;	&quot;//workspace/VDK/EmbeddedGaming/${VDK_PRODUCT_VERSION_DISPLAY}/docs/*.pdf&quot;
&quot;${INCLUDE_EG}//depot/stg/cas/apps/cas/sdk_root/VDK/${EG_BRANCH}/samples/.../docs/*.pdf&quot;	&quot;//workspace/VDK/EmbeddedGaming/${VDK_PRODUCT_VERSION_DISPLAY}/samples/.../docs/*.pdf&quot;
&quot;${INCLUDE_EG}//depot/stg/cas/apps/cas/sdk_root/VDK/${EG_BRANCH}/*.pdf&quot;	&quot;//workspace/VDK/EmbeddedGaming/${VDK_PRODUCT_VERSION_DISPLAY}/*.pdf&quot;

&quot;${INCLUDE_US}//depot/stg/cas/apps/cas/sdk_root/VDK/MedicalImaging/docs/*.pdf&quot;	&quot;//workspace/VDK/Ultrasound/${VDK_PRODUCT_VERSION_DISPLAY}/docs/*.pdf&quot;
&quot;${INCLUDE_US}//depot/stg/cas/apps/cas/sdk_root/VDK/MedicalImaging/samples/.../docs/*.pdf&quot;	&quot;//workspace/VDK/Ultrasound/${VDK_PRODUCT_VERSION_DISPLAY}/samples/.../docs/*.pdf&quot;
&quot;${INCLUDE_US}//depot/stg/cas/apps/cas/sdk_root/VDK/MedicalImaging/demos/.../docs/*.pdf&quot;	&quot;//workspace/VDK/Ultrasound/${VDK_PRODUCT_VERSION_DISPLAY}/demos/.../docs/*.pdf&quot;
&quot;${INCLUDE_US}//depot/stg/cas/apps/cas/sdk_root/VDK/MedicalImaging/*.pdf&quot;	&quot;//workspace/VDK/Ultrasound/${VDK_PRODUCT_VERSION_DISPLAY}/*.pdf&quot;
&quot;-//depot/stg/cas/apps/cas/sdk_root/VDK/MedicalImaging/samples/stoltFkMigrationFreqDomain/...&quot;	&quot;//workspace/VDK/Ultrasound/${VDK_PRODUCT_VERSION_DISPLAY}/stoltFkMigrationFreqDomain/...&quot;</projectPath>
    <projectOptions>allwrite clobber nocompress unlocked nomodtime rmdir</projectOptions>
    <p4SysDrive></p4SysDrive>
    <p4SysRoot></p4SysRoot>
    <p4Tool>p4</p4Tool>
    <useClientSpec>false</useClientSpec>
    <useStreamDepot>false</useStreamDepot>
    <forceSync>false</forceSync>
    <alwaysForceSync>false</alwaysForceSync>
    <dontUpdateServer>false</dontUpdateServer>
    <disableAutoSync>false</disableAutoSync>
    <disableChangeLogOnly>false</disableChangeLogOnly>
    <disableSyncOnly>false</disableSyncOnly>
    <showIntegChanges>false</showIntegChanges>
    <useOldClientName>false</useOldClientName>
    <createWorkspace>true</createWorkspace>
    <updateView>true</updateView>
    <dontRenameClient>false</dontRenameClient>
    <updateCounterValue>false</updateCounterValue>
    <dontUpdateClient>false</dontUpdateClient>
    <exposeP4Passwd>false</exposeP4Passwd>
    <wipeBeforeBuild>true</wipeBeforeBuild>
    <quickCleanBeforeBuild>false</quickCleanBeforeBuild>
    <restoreChangedDeletedFiles>false</restoreChangedDeletedFiles>
    <wipeRepoBeforeBuild>true</wipeRepoBeforeBuild>
    <firstChange>-1</firstChange>
    <fileLimit>0</fileLimit>
    <excludedFilesCaseSensitivity>true</excludedFilesCaseSensitivity>
    <slaveClientNameFormat>${basename}-${hash}</slaveClientNameFormat>
    <lineEndValue>local</lineEndValue>
    <useViewMask>true</useViewMask>
    <useViewMaskForPolling>true</useViewMaskForPolling>
    <useViewMaskForSyncing>false</useViewMaskForSyncing>
    <useViewMaskForChangeLog>false</useViewMaskForChangeLog>
    <pollOnlyOnMaster>false</pollOnlyOnMaster>
  </scm>
  <assignedNode>IS2012</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <axes>
    <hudson.matrix.TextAxis>
      <name>V</name>
      <values>
        <string>EG</string>
        <string>US</string>
      </values>
    </hudson.matrix.TextAxis>
    <hudson.matrix.TextAxis>
      <name>M</name>
      <values>
        <string>F</string>
      </values>
    </hudson.matrix.TextAxis>
    <hudson.matrix.TextAxis>
      <name>T</name>
      <values>
        <string>v110</string>
      </values>
    </hudson.matrix.TextAxis>
    <hudson.matrix.LabelExpAxis>
      <name>L</name>
      <values>
        <string>IS2012</string>
      </values>
    </hudson.matrix.LabelExpAxis>
  </axes>
  <builders>
    <hudson.tasks.BatchFile>
      <command>@echo off&#xd;
&#xd;
setlocal&#xd;
&#xd;
echo P: %P%&#xd;
echo J: %J%&#xd;
echo T: %T%&#xd;
&#xd;
if EXIST Environ.bat (&#xd;
	call Environ.bat&#xd;
) else (&#xd;
	echo [ERR]File Environ.bat not found.&#xd;
	exit /b 1&#xd;
)&#xd;
&#xd;
endlocal</command>
    </hudson.tasks.BatchFile>
    <EnvInjectBuilder plugin="envinject@1.90">
      <info>
        <propertiesFilePath>${WORKSPACE}\Environ.props</propertiesFilePath>
      </info>
    </EnvInjectBuilder>
    <hudson.plugins.copyartifact.CopyArtifact plugin="copyartifact@1.34">
      <project>VDK_BUILD_W</project>
      <filter>VDK_${V}_*.${ARCHIVE_EXTENSION}</filter>
      <target></target>
      <excludes></excludes>
      <selector class="hudson.plugins.copyartifact.ParameterizedBuildSelector">
        <parameterName>BUILD_SELECTOR_VDK_BUILD_W</parameterName>
      </selector>
      <doNotFingerprintArtifacts>false</doNotFingerprintArtifacts>
    </hudson.plugins.copyartifact.CopyArtifact>
    <hudson.tasks.BatchFile>
      <command>@echo off&#xd;
&#xd;
setlocal&#xd;
&#xd;
REM Extract the archives VDK_$V_*_$T_libs_*.7z,VDK_$V_*_sources_*.7z&#xd;
for /r %%i in (VDK_%V%_*.%ARCHIVE_EXTENSION%) do (&#xd;
	%SEVENZ% x -aoa &quot;%%i&quot;&#xd;
	if Not ERRORLEVEL 0 (&#xd;
		exit /b ERRORLEVEL&#xd;
	)&#xd;
)&#xd;
&#xd;
endlocal</command>
    </hudson.tasks.BatchFile>
    <hudson.tasks.BatchFile>
      <command>@echo off&#xd;
&#xd;
::- VDK_EG_sources_1.0-0.35-Alpha.7z&#xd;
::- Extract MajorNumber, MinorNumber, BuildNumber, SubMinor Number and Milestone from the above&#xd;
&#xd;
setlocal enabledelayedexpansion&#xd;
&#xd;
::- Get the archive filename on which we will operate&#xd;
for /r %%i in (VDK_%V%_sources_*.%ARCHIVE_EXTENSION%) do (&#xd;
	set ARCHIVE_FILENAME=%%~ni&#xd;
)&#xd;
&#xd;
echo ARCHIVE_FILENAME: !ARCHIVE_FILENAME!&#xd;
&#xd;
::- Split it on &quot;.&quot;&#xd;
for /f &quot;tokens=1,2,3 delims=.&quot; %%a in (&apos;echo !ARCHIVE_FILENAME!&apos;) do (&#xd;
	set VDK_MAJOR_NUMBER_FULL=%%a&#xd;
	set VDK_MINOR_NUMBER_FULL=%%b&#xd;
	set VDK_BUILD_NUMBER_FULL=%%c&#xd;
)&#xd;
&#xd;
echo VDK_MAJOR_NUMBER_FULL: !VDK_MAJOR_NUMBER_FULL!&#xd;
echo VDK_MINOR_NUMBER_FULL: !VDK_MINOR_NUMBER_FULL!&#xd;
echo VDK_BUILD_NUMBER_FULL: !VDK_BUILD_NUMBER_FULL!&#xd;
&#xd;
::- Now Split the VDK_MAJOR_NUMBER_FULL using &quot;_&quot;&#xd;
for /f &quot;tokens=4 delims=_&quot; %%a in (&apos;echo !VDK_MAJOR_NUMBER_FULL!&apos;) do (&#xd;
	set VDK_MAJOR_NUMBER=%%a&#xd;
)&#xd;
&#xd;
::- Now Split the VDK_MINOR_NUMBER_FULL using &quot;-&quot;&#xd;
for /f &quot;tokens=1,2 delims=-&quot; %%a in (&apos;echo !VDK_MINOR_NUMBER_FULL!&apos;) do (&#xd;
	set VDK_MINOR_NUMBER=%%a&#xd;
	set VDK_SUBMINOR_NUMBER=%%b&#xd;
)&#xd;
&#xd;
::- Now Split the VDK_BUILD_NUMBER_FULL using &quot;-&quot;&#xd;
for /f &quot;tokens=1,2 delims=-&quot; %%a in (&apos;echo !VDK_BUILD_NUMBER_FULL!&apos;) do (&#xd;
	set VDK_BUILD_NUMBER=%%a&#xd;
	set VDK_MILESTONE=%%b&#xd;
)&#xd;
&#xd;
echo VDK_MAJOR_NUMBER: !VDK_MAJOR_NUMBER!&#xd;
echo VDK_MINOR_NUMBER: !VDK_MINOR_NUMBER!&#xd;
echo VDK_SUBMINOR_NUMBER: !VDK_SUBMINOR_NUMBER!&#xd;
echo VDK_BUILD_NUMBER: !VDK_BUILD_NUMBER!&#xd;
echo VDK_MILESTONE: !VDK_MILESTONE!&#xd;
&#xd;
set ENVIRON_FILE=%WORKSPACE%\Environ.props&#xd;
echo VDK_MAJOR_NUMBER=!VDK_MAJOR_NUMBER! &gt; %ENVIRON_FILE%&#xd;
echo VDK_MINOR_NUMBER=!VDK_MINOR_NUMBER! &gt;&gt; %ENVIRON_FILE%&#xd;
echo VDK_SUBMINOR_NUMBER=!VDK_SUBMINOR_NUMBER! &gt;&gt; %ENVIRON_FILE%&#xd;
echo VDK_BUILD_NUMBER=!VDK_BUILD_NUMBER! &gt;&gt; %ENVIRON_FILE%&#xd;
echo VDK_MILESTONE=!VDK_MILESTONE! &gt;&gt; %ENVIRON_FILE%&#xd;
echo VDK_PRODUCT_VERSION=!VDK_MAJOR_NUMBER!.!VDK_MINOR_NUMBER!.!VDK_BUILD_NUMBER!.!BUILD_NUMBER! &gt;&gt; %ENVIRON_FILE%&#xd;
&#xd;
&#xd;
endlocal</command>
    </hudson.tasks.BatchFile>
    <EnvInjectBuilder plugin="envinject@1.90">
      <info>
        <propertiesFilePath>$WORKSPACE\Environ.props</propertiesFilePath>
      </info>
    </EnvInjectBuilder>
    <hudson.tasks.BatchFile>
      <command>@echo off&#xd;
setlocal&#xd;
&#xd;
::---------------------------------------------------------------------&#xd;
set ISM=%WORKSPACE%\Installers\windows\VDK.ism&#xd;
set COMMMON_MM_DIR=%ProgramFiles(x86)%\Common Files\Merge Modules&#xd;
&#xd;
::- Before creating the packages, we need to update the name of the MSI directly in the .ism file&#xd;
echo Using PERL bin: %PERL%&#xd;
&#xd;
%PERL% -pi.bak -e &quot;s!AMD_%VDK_FULL_NAME%_VDK_Setup!AMD_%VDK_FULL_NAME%_VDK_Setup-%VDK_PRODUCT_VERSION_DISPLAY%!g;&quot; &quot;%ISM%&quot;&#xd;
&#xd;
echo Executing: &quot;%ISCMDBLD%&quot; -a %V% -r %M% -v -x -p &quot;%ISM%&quot; -o &quot;%COMMMON_MM_DIR%&quot; -y %VDK_PRODUCT_VERSION% -z VDK_PRODUCT_VERSION_DISPLAY=&quot;%VDK_PRODUCT_VERSION_DISPLAY%&quot; -z VDK_FULL_NAME=%VDK_FULL_NAME% -z ProductName=&quot;AMD %VDK_FULL_DISPLAY_NAME% VDK %VDK_PRODUCT_VERSION_DISPLAY%&quot;  -l CertPath=%SystemDrive%\cert&#xd;
&#xd;
&quot;%ISCMDBLD%&quot; -a %V% -r %M% -v -x -p &quot;%ISM%&quot; -o &quot;%COMMMON_MM_DIR%&quot; -y %VDK_PRODUCT_VERSION% -z VDK_PRODUCT_VERSION_DISPLAY=&quot;%VDK_PRODUCT_VERSION_DISPLAY%&quot; -z VDK_FULL_NAME=%VDK_FULL_NAME% -z ProductName=&quot;AMD %VDK_FULL_DISPLAY_NAME% VDK %VDK_PRODUCT_VERSION_DISPLAY%&quot;  -l CertPath=%SystemDrive%\cert&#xd;
&#xd;
endlocal</command>
    </hudson.tasks.BatchFile>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>Installers\windows\VDK\$V\$M\DiskImages\DISK1\AMD_${VDK_FULL_NAME}_VDK_Setup-${VDK_PRODUCT_VERSION_DISPLAY}.msi</artifacts>
      <allowEmptyArchive>false</allowEmptyArchive>
      <onlyIfSuccessful>true</onlyIfSuccessful>
      <fingerprint>false</fingerprint>
      <defaultExcludes>true</defaultExcludes>
    </hudson.tasks.ArtifactArchiver>
    <hudson.tasks.Fingerprinter>
      <targets>Installers\windows\VDK\$V\$M\DiskImages\DISK1\AMD_${VDK_FULL_NAME}_VDK_Setup-${VDK_PRODUCT_VERSION_DISPLAY}.msi</targets>
    </hudson.tasks.Fingerprinter>
  </publishers>
  <buildWrappers>
    <hudson.plugins.ws__cleanup.PreBuildCleanup plugin="ws-cleanup@0.25">
      <deleteDirs>false</deleteDirs>
      <cleanupParameter></cleanupParameter>
      <externalDelete></externalDelete>
    </hudson.plugins.ws__cleanup.PreBuildCleanup>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.5.15"/>
    <com.michelin.cio.hudson.plugins.copytoslave.CopyToSlaveBuildWrapper plugin="copy-to-slave@1.4.3">
      <includes>Environ.bat</includes>
      <excludes></excludes>
      <flatten>false</flatten>
      <includeAntExcludes>false</includeAntExcludes>
      <hudsonHomeRelative>false</hudsonHomeRelative>
      <relativeTo>userContent</relativeTo>
    </com.michelin.cio.hudson.plugins.copytoslave.CopyToSlaveBuildWrapper>
  </buildWrappers>
  <executionStrategy class="hudson.matrix.DefaultMatrixExecutionStrategyImpl">
    <runSequentially>false</runSequentially>
    <sorter class="hudson.matrix.NoopMatrixConfigurationSorter"/>
  </executionStrategy>
</matrix-project>