<?xml version='1.0' encoding='UTF-8'?>
<matrix-project plugin="matrix-project@1.4.1">
  <actions/>
  <description>A PARallel API. This job builds the Windows version of the APARAPI Libraries using VS2012 and VS2013.</description>
  <logRotator class="hudson.tasks.LogRotator">
    <daysToKeep>-1</daysToKeep>
    <numToKeep>10</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.security.AuthorizationMatrixProperty>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update:msingh</permission>
      <permission>hudson.model.Run.Delete:msingh</permission>
      <permission>hudson.model.Item.Workspace:msingh</permission>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Delete:msingh</permission>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains:msingh</permission>
      <permission>hudson.model.Item.Configure:msingh</permission>
      <permission>hudson.model.Item.Cancel:msingh</permission>
      <permission>hudson.model.Item.Delete:msingh</permission>
      <permission>hudson.model.Item.Read:anonymous</permission>
      <permission>hudson.model.Item.Read:msingh</permission>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:msingh</permission>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create:msingh</permission>
      <permission>hudson.model.Item.Build:msingh</permission>
      <permission>hudson.scm.SCM.Tag:msingh</permission>
      <permission>hudson.model.Item.Discover:msingh</permission>
      <permission>hudson.model.Run.Update:msingh</permission>
    </hudson.security.AuthorizationMatrixProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.plugins.copyartifact.BuildSelectorParameter plugin="copyartifact@1.35">
          <name>BUILD_SELECTOR_OPENCL</name>
          <description></description>
          <defaultSelector class="hudson.plugins.copyartifact.TriggeredBuildSelector">
            <fallbackToLastSuccessful>true</fallbackToLastSuccessful>
            <upstreamFilterStrategy>UseGlobalSetting</upstreamFilterStrategy>
          </defaultSelector>
        </hudson.plugins.copyartifact.BuildSelectorParameter>
        <com.seitenbau.jenkins.plugins.dynamicparameter.scriptler.ScriptlerChoiceParameterDefinition plugin="dynamicparameter@0.2.0">
          <name>AMDAPPSDKROOT_VERSION</name>
          <description>Version of AMDAPPSDKROOT to be used</description>
          <__uuid>3e9c7403-80f5-4cdb-9eba-afa3a3b05c4d</__uuid>
          <__remote>false</__remote>
          <__scriptlerScriptId>Listfile.gsh.groovy</__scriptlerScriptId>
          <__parameters>
            <com.seitenbau.jenkins.plugins.dynamicparameter.scriptler.ScriptlerParameterDefinition_-ScriptParameter>
              <name>Folder</name>
              <value>AMDAPPSDKROOT</value>
            </com.seitenbau.jenkins.plugins.dynamicparameter.scriptler.ScriptlerParameterDefinition_-ScriptParameter>
          </__parameters>
          <readonlyInputField>false</readonlyInputField>
        </com.seitenbau.jenkins.plugins.dynamicparameter.scriptler.ScriptlerChoiceParameterDefinition>
        <hudson.plugins.matrix__configuration__parameter.MatrixCombinationsParameterDefinition plugin="matrix-combinations-parameter@1.0.7">
          <name>BUILD_MATRIX</name>
          <description>Choose the Visual Studio for building the APARAPI libraries
</description>
        </hudson.plugins.matrix__configuration__parameter.MatrixCombinationsParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.22">
      <autoRebuild>false</autoRebuild>
    </com.sonyericsson.rebuild.RebuildSettings>
    <EnvInjectJobProperty plugin="envinject@1.91.1">
      <info>
        <groovyScriptContent>// Copyright (c) 2014 Advanced Micro Devices, Inc. All rights reserved.

def map = [:] ;

if ( JOB_NAME.contains( &quot;v120&quot; ) ) {
	map.put( &quot;VSKEY&quot;, &quot;12.0&quot; );
}

if ( JOB_NAME.contains( &quot;v110&quot; ) ) {
	map.put( &quot;VSKEY&quot;, &quot;11.0&quot; );
}

if( JOB_NAME.contains( &quot;x86&quot; ) ) {
	map.put( &quot;PLATFORM_ARCH_SHORT&quot;, &quot;x86&quot; );
	map.put( &quot;PLATFORM_ARCH_INTEL&quot;, &quot;ia32&quot; );
	map.put( &quot;PLATFORM_ARCH_INTEL_ALT&quot;, &quot;x86&quot; );
	map.put( &quot;PLATFORM_ARCH_ALT&quot;, &quot;32&quot; );
	map.put( &quot;PLATFORM_ARCH_AMD&quot;, &quot;x86&quot; );
	map.put( &quot;PLATFORM_ARCH_VS&quot;, &quot;Win32&quot;);
}

if( JOB_NAME.contains( &quot;amd64&quot; ) ) {
	map.put( &quot;PLATFORM_ARCH_SHORT&quot;, &quot;x64&quot; );
	map.put( &quot;PLATFORM_ARCH_INTEL&quot;, &quot;intel64&quot; );
	map.put( &quot;PLATFORM_ARCH_INTEL_ALT&quot;, &quot;x86_64&quot; );
	map.put( &quot;PLATFORM_ARCH_ALT&quot;, &quot;64&quot; );
	map.put( &quot;PLATFORM_ARCH_AMD&quot;, &quot;amd64&quot; );
	map.put( &quot;PLATFORM_ARCH_VS&quot;, &quot;amd64&quot;);
}

println &apos;---------------------------------&apos;;
println map;
println &apos;---------------------------------&apos;;

return map;</groovyScriptContent>
        <loadFilesFromMaster>false</loadFilesFromMaster>
      </info>
      <on>true</on>
      <keepJenkinsSystemVariables>true</keepJenkinsSystemVariables>
      <keepBuildVariables>true</keepBuildVariables>
      <overrideBuildParameters>false</overrideBuildParameters>
      <contributors/>
    </EnvInjectJobProperty>
  </properties>
  <scm class="hudson.scm.SubversionSCM" plugin="subversion@2.5">
    <locations>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>http://aparapi.googlecode.com/svn/trunk</remote>
        <credentialsId></credentialsId>
        <local>.</local>
        <depthOption>infinity</depthOption>
        <ignoreExternalsOption>true</ignoreExternalsOption>
      </hudson.scm.SubversionSCM_-ModuleLocation>
    </locations>
    <excludedRegions></excludedRegions>
    <includedRegions></includedRegions>
    <excludedUsers></excludedUsers>
    <excludedRevprop></excludedRevprop>
    <excludedCommitMessages></excludedCommitMessages>
    <workspaceUpdater class="hudson.scm.subversion.UpdateUpdater"/>
    <ignoreDirPropChanges>false</ignoreDirPropChanges>
    <filterChangelog>false</filterChangelog>
  </scm>
  <assignedNode>WBM_x86</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>true</concurrentBuild>
  <axes>
    <hudson.matrix.TextAxis>
      <name>T</name>
      <values>
        <string>v120</string>
        <string>v110</string>
      </values>
    </hudson.matrix.TextAxis>
    <hudson.matrix.TextAxis>
      <name>J</name>
      <values>
        <string>1.8</string>
        <string>1.7</string>
      </values>
    </hudson.matrix.TextAxis>
    <hudson.matrix.TextAxis>
      <name>P</name>
      <values>
        <string>x86</string>
      </values>
    </hudson.matrix.TextAxis>
    <hudson.matrix.LabelExpAxis>
      <name>L</name>
      <values>
        <string>WBM_x86</string>
      </values>
    </hudson.matrix.LabelExpAxis>
  </axes>
  <builders>
    <hudson.tasks.BatchFile>
      <command>@echo off&#xd;
&#xd;
setlocal&#xd;
&#xd;
echo P: %P%&#xd;
echo J: %J%&#xd;
echo T: %T%&#xd;
&#xd;
if EXIST Environ.bat (&#xd;
	call Environ.bat&#xd;
) else (&#xd;
	echo [ERR]File Environ.bat not copied from Jenkins&apos; userContent directory.&#xd;
	exit /b 1&#xd;
)&#xd;
&#xd;
endlocal</command>
    </hudson.tasks.BatchFile>
    <EnvInjectBuilder plugin="envinject@1.91.1">
      <info>
        <propertiesFilePath>${WORKSPACE}\Environ.props</propertiesFilePath>
        <propertiesContent>AMDAPPSDKROOT=${WORKSPACE}\AMDAPPSDKROOT</propertiesContent>
      </info>
    </EnvInjectBuilder>
    <hudson.plugins.copyartifact.CopyArtifact plugin="copyartifact@1.35">
      <project>OpenCL</project>
      <filter>OpenCL_*_${OSTYPE}_release_${PLATFORM_ARCH_AMD}.7z</filter>
      <target></target>
      <excludes>OpenCL_Symbols_*_${OSTYPE}_release_${PLATFORM_ARCH_AMD}.7z</excludes>
      <selector class="hudson.plugins.copyartifact.ParameterizedBuildSelector">
        <parameterName>BUILD_SELECTOR_OPENCL</parameterName>
      </selector>
      <doNotFingerprintArtifacts>false</doNotFingerprintArtifacts>
    </hudson.plugins.copyartifact.CopyArtifact>
    <hudson.tasks.BatchFile>
      <command>@echo off&#xd;
&#xd;
setlocal&#xd;
&#xd;
echo [INFO]SEVENZ: %SEVENZ%&#xd;
&#xd;
if EXIST %AMDAPPSDKROOT% (&#xd;
	echo [INFO]Directory %AMDAPPSDKROOT% exists, deleting it.&#xd;
	rmdir /S /Q &quot;%AMDAPPSDKROOT%&quot;&#xd;
)&#xd;
&#xd;
::- Extract the include files&#xd;
for /r %%i in (OpenCL_*_%OSTYPE%_release_%PLATFORM_ARCH_AMD%.7z) do (&#xd;
	%SEVENZ% e -aoa &quot;%%i&quot; -o%AMDAPPSDKROOT%\include\CL -i!release\include\opencl2.0\CL\*.h -i!release\include\opencl2.0\CL\*.hpp&#xd;
	if ERRORLEVEL 1 (&#xd;
		echo [ERR]Could not extract the include files from OpenCL_*_%OSTYPE%_release_%PLATFORM_ARCH_AMD%.7z&#xd;
		exit /b ERRORLEVEL&#xd;
	)&#xd;
&#xd;
	::- Extract the libs needed for compilation&#xd;
	%SEVENZ% e -aoa &quot;%%i&quot; -o%AMDAPPSDKROOT%\lib\%PLATFORM_ARCH_INTEL_ALT% -i!release\lib\%PLATFORM_ARCH_INTEL_ALT%\*.lib&#xd;
	if ERRORLEVEL 1 (&#xd;
		echo [ERR]Could not extract the lib files from OpenCL_*_%OSTYPE%_release_%PLATFORM_ARCH_AMD%.7z&#xd;
		exit /b ERRORLEVEL&#xd;
	)&#xd;
)&#xd;
&#xd;
echo [SUCCESS]Done extracting the AMDAPPSDKROOT&#xd;
&#xd;
endlocal</command>
    </hudson.tasks.BatchFile>
    <hudson.tasks.BatchFile>
      <command>@echo off&#xd;
&#xd;
setlocal&#xd;
&#xd;
echo AMDAPPSDKROOT: %AMDAPPSDKROOT%&#xd;
echo MSVC.DIR: %MSVC.DIR%&#xd;
echo JAVA_HOME: %JAVA_HOME%&#xd;
&#xd;
echo [SUCCESS]Copying APARAPI\updated\build.* to com.amd.aparapi.jni&#xd;
copy /V /Y APARAPI\updated\build.* com.amd.aparapi.jni&#xd;
if ERRORLEVEL 1 (&#xd;
	exit /b ERRORLEVEL&#xd;
)&#xd;
&#xd;
echo [SUCCESS]Done copying APARAPI\updated\build.* to com.amd.aparapi.jni&#xd;
&#xd;
endlocal</command>
    </hudson.tasks.BatchFile>
    <hudson.tasks.BatchFile>
      <command>@echo off&#xd;
&#xd;
setlocal&#xd;
&#xd;
echo JavaHome: %JAVA_HOME%&#xd;
&#xd;
::- Add the JAVA_HOME environment variable and update the PATH variable&#xd;
set PATH=%ANT_HOME%\bin;%JAVA_HOME%bin;%PATH%&#xd;
echo PATH: %PATH%&#xd;
&#xd;
echo [INFO]Pushing to directory com.amd.aparapi&#xd;
pushd com.amd.aparapi&#xd;
	ant clean build&#xd;
popd&#xd;
echo [INFO]Popping from directory com.amd.aparapi&#xd;
&#xd;
&#xd;
endlocal&#xd;
</command>
    </hudson.tasks.BatchFile>
    <hudson.tasks.BatchFile>
      <command>@echo off&#xd;
&#xd;
setlocal&#xd;
&#xd;
echo JavaHome: %JAVA_HOME%&#xd;
&#xd;
::- Add the JAVA_HOME environment variable and update the PATH variable&#xd;
set PATH=%ANT_HOME%\bin;%JAVA_HOME%bin;%PATH%&#xd;
echo PATH: %PATH%&#xd;
&#xd;
echo [INFO]Pushing to directory com.amd.aparapi.jni&#xd;
pushd com.amd.aparapi.jni&#xd;
	ant clean build&#xd;
popd&#xd;
echo [INFO]Popping from directory com.amd.aparapi.jni&#xd;
&#xd;
endlocal&#xd;
</command>
    </hudson.tasks.BatchFile>
    <hudson.tasks.BatchFile>
      <command>@echo off&#xd;
setlocal&#xd;
&#xd;
del /F /Q APARAPI*.7z&#xd;
&#xd;
pushd com.amd.aparapi\dist&#xd;
	%SEVENZ% a -t7z %WORKSPACE%\APARAPI_%T%-JDK%J%-%OSTYPE%-%P%_%BUILD_NUMBER%.7z -i!aparapi.jar&#xd;
popd&#xd;
&#xd;
pushd com.amd.aparapi.jni\dist&#xd;
	%SEVENZ% u %WORKSPACE%\APARAPI_%T%-JDK%J%-%OSTYPE%-%P%_%BUILD_NUMBER%.7z -i!*.dll&#xd;
popd&#xd;
&#xd;
endlocal</command>
    </hudson.tasks.BatchFile>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>APARAPI_${T}-JDK${J}-${OSTYPE}-${P}_${BUILD_NUMBER}.7z</artifacts>
      <allowEmptyArchive>false</allowEmptyArchive>
      <onlyIfSuccessful>false</onlyIfSuccessful>
      <fingerprint>true</fingerprint>
      <defaultExcludes>true</defaultExcludes>
    </hudson.tasks.ArtifactArchiver>
  </publishers>
  <buildWrappers>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.6"/>
    <com.michelin.cio.hudson.plugins.copytoslave.CopyToSlaveBuildWrapper plugin="copy-to-slave@1.4.4">
      <includes>APARAPI/updated/build.*,Environ.bat</includes>
      <excludes></excludes>
      <flatten>false</flatten>
      <includeAntExcludes>false</includeAntExcludes>
      <hudsonHomeRelative>false</hudsonHomeRelative>
      <relativeTo>userContent</relativeTo>
    </com.michelin.cio.hudson.plugins.copytoslave.CopyToSlaveBuildWrapper>
  </buildWrappers>
  <executionStrategy class="hudson.matrix.DefaultMatrixExecutionStrategyImpl">
    <runSequentially>false</runSequentially>
    <sorter class="hudson.matrix.NoopMatrixConfigurationSorter"/>
  </executionStrategy>
</matrix-project>