<?xml version='1.0' encoding='UTF-8'?>
<matrix-project plugin="matrix-project@1.6">
  <actions/>
  <description></description>
  <logRotator class="hudson.tasks.LogRotator">
    <daysToKeep>-1</daysToKeep>
    <numToKeep>10</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.security.AuthorizationMatrixProperty>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update:msingh</permission>
      <permission>hudson.model.Run.Delete:msingh</permission>
      <permission>hudson.model.Item.Workspace:msingh</permission>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Delete:msingh</permission>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains:msingh</permission>
      <permission>hudson.model.Item.Configure:msingh</permission>
      <permission>hudson.model.Item.Cancel:msingh</permission>
      <permission>hudson.model.Item.Delete:msingh</permission>
      <permission>hudson.model.Item.Read:anonymous</permission>
      <permission>hudson.model.Item.Read:msingh</permission>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:msingh</permission>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create:msingh</permission>
      <permission>hudson.model.Item.Build:msingh</permission>
      <permission>hudson.scm.SCM.Tag:msingh</permission>
      <permission>hudson.model.Item.Discover:msingh</permission>
      <permission>hudson.model.Run.Update:msingh</permission>
    </hudson.security.AuthorizationMatrixProperty>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.7.1">
      <useBuildBlocker>false</useBuildBlocker>
      <blockLevel>UNDEFINED</blockLevel>
      <scanQueueFor>DISABLED</scanQueueFor>
      <blockingJobs></blockingJobs>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>MAJOR_NUMBER</name>
          <description></description>
          <defaultValue>1</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>MINOR_NUMBER</name>
          <description></description>
          <defaultValue>0</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.plugins.copyartifact.BuildSelectorParameter plugin="copyartifact@1.35.2">
          <name>BUILD_SELECTOR_CURL</name>
          <description></description>
          <defaultSelector class="hudson.plugins.copyartifact.TriggeredBuildSelector">
            <fallbackToLastSuccessful>true</fallbackToLastSuccessful>
            <upstreamFilterStrategy>UseGlobalSetting</upstreamFilterStrategy>
          </defaultSelector>
        </hudson.plugins.copyartifact.BuildSelectorParameter>
        <hudson.plugins.copyartifact.BuildSelectorParameter plugin="copyartifact@1.35.2">
          <name>BUILD_SELECTOR_BOOST</name>
          <description>Boost built to use</description>
          <defaultSelector class="hudson.plugins.copyartifact.TriggeredBuildSelector">
            <fallbackToLastSuccessful>true</fallbackToLastSuccessful>
            <upstreamFilterStrategy>UseGlobalSetting</upstreamFilterStrategy>
          </defaultSelector>
        </hudson.plugins.copyartifact.BuildSelectorParameter>
        <hudson.model.StringParameterDefinition>
          <name>PRODUCTION_URL_VERSION</name>
          <description></description>
          <defaultValue>3.0-GA</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>APPSDK_INSTALLER_ARTIFACT_PRODUCTVERSION</name>
          <description></description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <org.jenkinsci.plugins.customizebuildnow.BuildNowTextProperty plugin="customize-build-now@1.0"/>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.25">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <org.jenkinsci.plugins.requeuejob.RequeueJobProperty plugin="jobrequeue@1.0">
      <requeueJob>false</requeueJob>
    </org.jenkinsci.plugins.requeuejob.RequeueJobProperty>
    <hudson.plugins.throttleconcurrents.ThrottleJobProperty plugin="throttle-concurrents@1.8.4">
      <maxConcurrentPerNode>0</maxConcurrentPerNode>
      <maxConcurrentTotal>0</maxConcurrentTotal>
      <throttleEnabled>false</throttleEnabled>
      <throttleOption>project</throttleOption>
      <matrixOptions>
        <throttleMatrixBuilds>true</throttleMatrixBuilds>
        <throttleMatrixConfigurations>false</throttleMatrixConfigurations>
      </matrixOptions>
    </hudson.plugins.throttleconcurrents.ThrottleJobProperty>
    <EnvInjectJobProperty plugin="envinject@1.91.4">
      <info>
        <groovyScriptContent>// Copyright (c) 2014 Advanced Micro Devices, Inc. All rights reserved.

def map = [:] ;

map.put( &quot;PRODUCTVERSION&quot;, MAJOR_NUMBER + &quot;.&quot; + MINOR_NUMBER + &quot;.&quot; + BUILD_NUMBER );
map.put( &quot;J&quot;, &quot;1.8&quot; );
map.put( &quot;ARCHIVE_EXTENSION&quot;, &quot;7z&quot; );

if( JOB_NAME.contains( &quot;Win32&quot; ) ) {
	map.put( &quot;PLATFORM_ARCH_SHORT&quot;, &quot;x86&quot; );
	map.put( &quot;PLATFORM_ARCH_INTEL&quot;, &quot;ia32&quot; );
	map.put( &quot;PLATFORM_ARCH_INTEL_ALT&quot;, &quot;x86&quot; );
	map.put( &quot;PLATFORM_ARCH_AMD&quot;, &quot;x86&quot; );
	map.put( &quot;ARCH&quot;, &quot;32&quot; );
}

if( JOB_NAME.contains( &quot;x64&quot; ) ) {
	map.put( &quot;PLATFORM_ARCH_SHORT&quot;, &quot;x64&quot; );
	map.put( &quot;PLATFORM_ARCH_INTEL&quot;, &quot;intel64&quot; );
	map.put( &quot;PLATFORM_ARCH_INTEL_ALT&quot;, &quot;x86_64&quot; );
	map.put( &quot;PLATFORM_ARCH_AMD&quot;, &quot;amd64&quot; );
	map.put( &quot;ARCH&quot;, &quot;64&quot; );
}

String strVSName = &quot;VS2013&quot;;
String strVSNameSmall = &quot;vs13&quot;;
String strVSNameCaps = &quot;VS13&quot;;

if ( JOB_NAME.contains( &quot;v120&quot; ) ) {
	strVSName = &quot;VS2013&quot;;
	strVSNameSmall = &quot;vs13&quot;;
	strVSNameCaps = &quot;VS13&quot;;
	map.put( &quot;VCTOOLKIT_SHORT&quot;, &quot;vc12&quot; );
	map.put( &quot;VSKEY&quot;, &quot;12.0&quot; );
	map.put( &quot;BOOST_VS&quot;, &quot;msvc-12.0&quot; );
}

if ( JOB_NAME.contains( &quot;v110&quot; ) ) {
	strVSName = &quot;VS2012&quot;;
	strVSNameSmall = &quot;vs12&quot;;
	strVSNameCaps = &quot;VS12&quot;;
	map.put( &quot;VCTOOLKIT_SHORT&quot;, &quot;vc11&quot; );
	map.put( &quot;VSKEY&quot;, &quot;11.0&quot; );
	map.put( &quot;BOOST_VS&quot;, &quot;msvc-11.0&quot; );
}

if ( JOB_NAME.contains( &quot;v100&quot; ) ) {
	strVSName = &quot;VS2010&quot;;
	strVSNameSmall = &quot;vs10&quot;;	
	strVSNameCaps = &quot;VS10&quot;;
	map.put( &quot;VCTOOLKIT_SHORT&quot;, &quot;vc10&quot; );
	map.put( &quot;VSKEY&quot;, &quot;10.0&quot; );
	map.put( &quot;BOOST_VS&quot;, &quot;msvc-10.0&quot; );
}

if ( JOB_NAME.contains( &quot;Debug&quot; ) ) {
	map.put( &quot;C_SC&quot;, &quot;dbg&quot; );
	map.put( &quot;C_SC_FULL&quot;, &quot;debug&quot; );
}
if ( JOB_NAME.contains( &quot;Release&quot; ) ) {
	map.put( &quot;C_SC&quot;, &quot;rel&quot; );
	map.put( &quot;C_SC_FULL&quot;, &quot;release&quot; );
}

map.put( &quot;VSNAME_SMALL&quot;, strVSNameSmall );
map.put( &quot;VSNAME_CAPS&quot;, strVSNameCaps );
map.put( &quot;VSNAME&quot;, strVSName );


println &apos;---------------------------------&apos;;
println map;
println &apos;---------------------------------&apos;;

return map;</groovyScriptContent>
        <loadFilesFromMaster>false</loadFilesFromMaster>
      </info>
      <on>true</on>
      <keepJenkinsSystemVariables>true</keepJenkinsSystemVariables>
      <keepBuildVariables>true</keepBuildVariables>
      <overrideBuildParameters>false</overrideBuildParameters>
      <contributors/>
    </EnvInjectJobProperty>
  </properties>
  <scm class="hudson.plugins.perforce.PerforceSCM" plugin="perforce@1.3.35">
    <configVersion>2</configVersion>
    <p4User>jenkinshas</p4User>
    <p4Passwd>0f0kqlwarTrhwM5Z6nxTElYaqlJF/g==</p4Passwd>
    <p4Port>hyswp4p1.amd.com:1666</p4Port>
    <p4Client>${JOB_NAME}</p4Client>
    <projectPath>//depot/stg/cas/apps/cas/installers/InstallManagerExtn/... //workspace/InstallManagerExtn/...
//depot/stg/cas/apps/cas/AutomationFramework/scripts/Environ.bat //workspace/Environ.bat
//depot/stg/app_sdk/Others/scripts/Version.bat //workspace/Version.bat</projectPath>
    <projectOptions>allwrite clobber nocompress unlocked nomodtime rmdir</projectOptions>
    <p4SysDrive></p4SysDrive>
    <p4SysRoot></p4SysRoot>
    <p4Tool>p4</p4Tool>
    <useClientSpec>false</useClientSpec>
    <useStreamDepot>false</useStreamDepot>
    <forceSync>false</forceSync>
    <alwaysForceSync>false</alwaysForceSync>
    <dontUpdateServer>false</dontUpdateServer>
    <disableAutoSync>false</disableAutoSync>
    <disableChangeLogOnly>false</disableChangeLogOnly>
    <disableSyncOnly>false</disableSyncOnly>
    <showIntegChanges>false</showIntegChanges>
    <useOldClientName>false</useOldClientName>
    <createWorkspace>true</createWorkspace>
    <updateView>true</updateView>
    <dontRenameClient>false</dontRenameClient>
    <updateCounterValue>false</updateCounterValue>
    <dontUpdateClient>false</dontUpdateClient>
    <exposeP4Passwd>false</exposeP4Passwd>
    <wipeBeforeBuild>true</wipeBeforeBuild>
    <quickCleanBeforeBuild>false</quickCleanBeforeBuild>
    <restoreChangedDeletedFiles>false</restoreChangedDeletedFiles>
    <wipeRepoBeforeBuild>true</wipeRepoBeforeBuild>
    <firstChange>-1</firstChange>
    <fileLimit>0</fileLimit>
    <excludedFilesCaseSensitivity>true</excludedFilesCaseSensitivity>
    <slaveClientNameFormat>${basename}-${hash}</slaveClientNameFormat>
    <lineEndValue>local</lineEndValue>
    <useViewMask>false</useViewMask>
    <useViewMaskForPolling>true</useViewMaskForPolling>
    <useViewMaskForSyncing>false</useViewMaskForSyncing>
    <useViewMaskForChangeLog>false</useViewMaskForChangeLog>
    <pollOnlyOnMaster>false</pollOnlyOnMaster>
  </scm>
  <assignedNode>WBM</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <hudson.triggers.SCMTrigger>
      <spec>H H(0-7) * * *</spec>
      <ignorePostCommitHooks>false</ignorePostCommitHooks>
    </hudson.triggers.SCMTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <axes>
    <hudson.matrix.TextAxis>
      <name>T</name>
      <values>
        <string>v110</string>
      </values>
    </hudson.matrix.TextAxis>
    <hudson.matrix.TextAxis>
      <name>P</name>
      <values>
        <string>Win32</string>
      </values>
    </hudson.matrix.TextAxis>
    <hudson.matrix.TextAxis>
      <name>C</name>
      <values>
        <string>Release</string>
      </values>
    </hudson.matrix.TextAxis>
    <hudson.matrix.LabelAxis>
      <name>L</name>
      <values>
        <string>WBM</string>
      </values>
    </hudson.matrix.LabelAxis>
  </axes>
  <builders>
    <hudson.tasks.BatchFile>
      <command>@echo off&#xd;
&#xd;
setlocal&#xd;
&#xd;
echo P: %P%&#xd;
echo J: %J%&#xd;
echo T: %T%&#xd;
&#xd;
if EXIST Environ.bat (&#xd;
	call Environ.bat&#xd;
) else (&#xd;
	echo [ERR]File Environ.bat not found.&#xd;
	exit /b 1&#xd;
)&#xd;
&#xd;
endlocal</command>
    </hudson.tasks.BatchFile>
    <EnvInjectBuilder plugin="envinject@1.91.4">
      <info>
        <propertiesFilePath>${WORKSPACE}\Environ.props</propertiesFilePath>
      </info>
    </EnvInjectBuilder>
    <hudson.plugins.copyartifact.CopyArtifact plugin="copyartifact@1.35.2">
      <project>cURL/C=${C_SC_FULL},L=WBM,M=static,P=${PLATFORM_ARCH_AMD},T=${T}/</project>
      <filter>libcurl-*-${T}-${PLATFORM_ARCH_AMD}-${C_SC_FULL}-static.${ARCHIVE_EXTENSION}</filter>
      <target></target>
      <excludes></excludes>
      <selector class="hudson.plugins.copyartifact.ParameterizedBuildSelector">
        <parameterName>BUILD_SELECTOR_CURL</parameterName>
      </selector>
      <doNotFingerprintArtifacts>false</doNotFingerprintArtifacts>
    </hudson.plugins.copyartifact.CopyArtifact>
    <hudson.plugins.copyartifact.CopyArtifact plugin="copyartifact@1.35.2">
      <project>boost/A=64,C=release,L=${L},LL=shared,R=shared,T=msvc-12.0/</project>
      <filter>boost-includes-*.${ARCHIVE_EXTENSION}</filter>
      <target></target>
      <excludes></excludes>
      <selector class="hudson.plugins.copyartifact.ParameterizedBuildSelector">
        <parameterName>BUILD_SELECTOR_BOOST</parameterName>
      </selector>
      <doNotFingerprintArtifacts>false</doNotFingerprintArtifacts>
    </hudson.plugins.copyartifact.CopyArtifact>
    <hudson.plugins.copyartifact.CopyArtifact plugin="copyartifact@1.35.2">
      <project>boost/A=${ARCH},C=${C_SC_FULL},L=${L},LL=static,R=shared,T=${BOOST_VS}/</project>
      <filter>boost-lib-link-static-runtime-shared-${C}-${T}-${PLATFORM_ARCH_SHORT}-*.${ARCHIVE_EXTENSION}</filter>
      <target></target>
      <excludes></excludes>
      <selector class="hudson.plugins.copyartifact.ParameterizedBuildSelector">
        <parameterName>BUILD_SELECTOR_BOOST</parameterName>
      </selector>
      <doNotFingerprintArtifacts>false</doNotFingerprintArtifacts>
    </hudson.plugins.copyartifact.CopyArtifact>
    <hudson.tasks.BatchFile>
      <command>@echo off&#xd;
setlocal&#xd;
&#xd;
REM This script extract the required boost headers and libraries.&#xd;
REM Note: As of now now common uses the statically linked runtime shared libraries, so we extract only that.&#xd;
&#xd;
REM Extract the boost includes.&#xd;
&#xd;
set THIRDPARTY_DIR=InstallManagerExtn\3rdParty&#xd;
if NOT EXIST &quot;%THIRDPARTY_DIR%&quot; (&#xd;
	mkdir &quot;%THIRDPARTY_DIR%&quot;&#xd;
	if ERRORLEVEL 1 (&#xd;
		echo [ERR]Failed to create directory %THIRDPARTY_DIR%&#xd;
		exit /b ERRORLEVEL&#xd;
	)&#xd;
)&#xd;
&#xd;
echo [INFO][%~n0%~x0]Calling %SEVENZ% x -aoa boost-includes-*.%ARCHIVE_EXTENSION% -o&quot;%THIRDPARTY_DIR%\boost&quot;&#xd;
%SEVENZ% x -aoa boost-includes-*.%ARCHIVE_EXTENSION% -o&quot;%THIRDPARTY_DIR%\boost&quot; | findstr /b /r /c:&quot;\&lt;Everything is Ok&quot; /c:&quot;\&lt;Processing archive&quot;&#xd;
if ERRORLEVEL 1 (&#xd;
	echo [ERR]Failed to extract boost-includes-*.%ARCHIVE_EXTENSION% &#xd;
	exit /b ERRORLEVEL&#xd;
)&#xd;
&#xd;
REM Extract the boost Libraries. &#xd;
echo [INFO][%~n0%~x0]Calling %SEVENZ% x -aoa boost-lib-link-static-runtime-shared-%C%-%T%-%PLATFORM_ARCH_SHORT%-*.%ARCHIVE_EXTENSION% -i!boost_*\lib\%P%\%C%\libboost_thread*.lib -i!boost_*\lib\%P%\%C%\libboost_system*.lib -o&quot;%THIRDPARTY_DIR%\boost&quot;&#xd;
%SEVENZ% x -aoa boost-lib-link-static-runtime-shared-%C%-%T%-%PLATFORM_ARCH_SHORT%-*.%ARCHIVE_EXTENSION% -i!boost_*\lib\%P%\%C%\libboost_thread*.lib -i!boost_*\lib\%P%\%C%\libboost_system*.lib -o&quot;%THIRDPARTY_DIR%\boost&quot; | findstr /b /r /c:&quot;\&lt;Everything is Ok&quot; /c:&quot;\&lt;Processing archive&quot;&#xd;
if ERRORLEVEL 1 (&#xd;
	echo [ERR]Failed to extract libboost_thread*.lib from boost-lib-link-static-runtime-shared-%C%-%T%-%PLATFORM_ARCH_AMD%-*.%ARCHIVE_EXTENSION%&#xd;
	exit /b ERRORLEVEL&#xd;
)&#xd;
&#xd;
pushd &quot;%WORKSPACE%\InstallManagerExtn\UnifiedInstaller&quot;&#xd;
	%PERL% -pi.bak -e &quot;s!PRODUCTION_URL_VERSION!%PRODUCTION_URL_VERSION%!g;&quot; HttpDownload.cpp&#xd;
	if ERRORLEVEL 1 (&#xd;
		echo [ERR]Failed to replace PRODUCTION_URL_VERSION with %PRODUCTION_URL_VERSION% in the file HttpDownload.cpp&#xd;
		popd&#xd;
		exit /b ERRORLEVEL&#xd;
	)&#xd;
	%PERL% -pi.bak -e &quot;s!ARTIFACT_PRODUCTVERSION!%APPSDK_INSTALLER_ARTIFACT_PRODUCTVERSION%!g;&quot; HttpDownload.cpp&#xd;
	if ERRORLEVEL 1 (&#xd;
		echo [ERR]Failed to replace ARTIFACT_PRODUCTVERSION with %APPSDK_INSTALLER_ARTIFACT_PRODUCTVERSION% in the file HttpDownload.cpp&#xd;
		popd&#xd;
		exit /b ERRORLEVEL&#xd;
	)&#xd;
popd&#xd;
&#xd;
endlocal</command>
    </hudson.tasks.BatchFile>
    <hudson.tasks.BatchFile>
      <command>@echo off&#xd;
::- Copyright ©2014 Advanced Micro Devices, Inc. All rights reserved.&#xd;
&#xd;
setlocal enabledelayedexpansion&#xd;
&#xd;
echo Configuration: %C%&#xd;
echo Platform: %P%&#xd;
echo PlatformToolset: %T%&#xd;
echo PRODUCTVERSION: %PRODUCTVERSION%&#xd;
echo MSBUILD: %MSBUILD%&#xd;
echo SEVENZ: %SEVENZ%&#xd;
echo C_SC_FULL: %C_SC_FULL%&#xd;
echo PLATFORM_ARCH_AMD: %PLATFORM_ARCH_AMD%&#xd;
&#xd;
set LIBCURL_ARCHIVE=&#xd;
for /r %%i in (libcurl-*-%T%-%PLATFORM_ARCH_AMD%-%C_SC_FULL%-static.%ARCHIVE_EXTENSION%) do (&#xd;
	set LIBCURL_ARCHIVE=%%~ni&#xd;
)&#xd;
&#xd;
::- libcurl-7.39.0.26-v110-x86-release-static.7z	&#xd;
echo LIBCURL_ARCHIVE: !LIBCURL_ARCHIVE!&#xd;
for /f &quot;tokens=1,2,3 delims=.&quot; %%a in (&apos;echo !LIBCURL_ARCHIVE!&apos;) do (&#xd;
	set LIBCURL_MAJOR_NUMBER_FULL=%%a&#xd;
	set LIBCURL_MINOR_NUMBER=%%b&#xd;
	set LIBCURL_SUBMINOR_NUMBER=%%c&#xd;
)&#xd;
&#xd;
for /f &quot;tokens=2 delims=-&quot; %%a in (&apos;echo !LIBCURL_MAJOR_NUMBER_FULL!&apos;) do (&#xd;
	set LIBCURL_MAJOR_NUMBER=%%a&#xd;
)&#xd;
&#xd;
set LIBCURL_VERSION=%LIBCURL_MAJOR_NUMBER%.%LIBCURL_MINOR_NUMBER%.%LIBCURL_SUBMINOR_NUMBER%&#xd;
&#xd;
echo [INFO][[%~n0%~x0]Calling %SEVENZ% x -aoa !LIBCURL_ARCHIVE!.%ARCHIVE_EXTENSION% -o%WORKSPACE%\InstallManagerExtn\3rdParty\cURL\curl-!LIBCURL_VERSION!&#xd;
%SEVENZ% x -aoa !LIBCURL_ARCHIVE!.7z -o%WORKSPACE%\InstallManagerExtn\3rdParty\cURL\curl-!LIBCURL_VERSION!&#xd;
if ERRORLEVEL 1 (&#xd;
	echo [ERR][%~n0%~x0]Failed to extract the file !LIBCURL_ARCHIVE! to the directory %WORKSPACE%\InstallManagerExtn\3rdParty\cURL\curl-!LIBCURL_VERSION!&#xd;
	exit /b ERRORLEVEL&#xd;
)&#xd;
&#xd;
&#xd;
echo [INFO][%~n0%~x0]Calling: %MSBUILD% /m /t:build /p:Configuration=%C% /p:Platform=%P% /p:PlatformToolset=%T% InstallManagerExtn\InstallManagerExtn.sln&#xd;
%MSBUILD% /m /t:build /p:Configuration=%C% /p:Platform=%P% /p:PlatformToolset=%T% InstallManagerExtn\InstallManagerExtn.sln&#xd;
&#xd;
if NOT ERRORLEVEL 1 (&#xd;
	echo [INFO][%~n0%~x0]Build completed successfully, rename the AMDComputeToolkitInstallManager.exe to AMD-ComputeToolKit-InstallManager-v%PRODUCTVERSION%.exe&#xd;
	echo [INFO][%~n0%~x0]Calling ren &quot;%WORKSPACE%\InstallManagerExtn\%P%\%C%\AMDSDKInstallManager.exe&quot; AMD-SDK-InstallManager-v%PRODUCTVERSION%.exe&#xd;
	ren &quot;%WORKSPACE%\InstallManagerExtn\%C%\%P%\AMDSDKInstallManager.exe&quot; AMD-SDK-InstallManager-v%PRODUCTVERSION%.exe&#xd;
	&#xd;
	echo [INFO][%~n0%~x0]Calling ren &quot;%WORKSPACE%\InstallManagerExtn\%P%\%C%\AMDSDKInstallManager.pdb&quot; AMD-SDK-InstallManager-v%PRODUCTVERSION%.pdb&#xd;
	ren &quot;%WORKSPACE%\InstallManagerExtn\%C%\%P%\AMDSDKInstallManager.pdb&quot; AMD-SDK-InstallManager-v%PRODUCTVERSION%.pdb&#xd;
)&#xd;
endlocal&#xd;
</command>
    </hudson.tasks.BatchFile>
    <hudson.tasks.BatchFile>
      <command>@echo off&#xd;
::- Copyright ©2014 Advanced Micro Devices, Inc. All rights reserved.&#xd;
&#xd;
setlocal EnableDelayedExpansion&#xd;
&#xd;
call &quot;%ProgramFiles(x86)%\Microsoft Visual Studio 11.0\Common7\Tools\VsDevCmd.bat&quot;&#xd;
set VERPATCH=%WORKSPACE%\verpatch\verpatch.exe&#xd;
set SAMPLEDIR=%WORKSPACE%\InstallManagerExtn\%C%\%P%&#xd;
set COPYRIGHT=&quot;Copyright (c), %DATE:~-4%. Advanced Micro Devices, Inc.&quot;&#xd;
&#xd;
echo [INFO]Adding version information and signing binaries in: %SAMPLEDIR%&#xd;
&#xd;
::We set and sign all files with the default version&#xd;
::The variable PRODUCTVERSION, FILEVERSION  is supposed to be set by the Jenkins job with appropriate value.&#xd;
set BASEFILEVERSION=%PRODUCTVERSION%&#xd;
set FILEVERSION=%BASEFILEVERSION%.0&#xd;
&#xd;
for /r &quot;%SAMPLEDIR%&quot; %%G in (*.exe) do (&#xd;
	&quot;%VERPATCH%&quot; &quot;%%~G&quot; &quot;%FILEVERSION%&quot; /va /s FileDescription &quot;%%~nxG&quot; /s LegalCopyright %COPYRIGHT% /s ProductName &quot;%PRODUCTNAME%&quot;&#xd;
	if ERRORLEVEL 1 (&#xd;
		echo [ERR]Could not add version resource information to %%~G&#xd;
	)&#xd;
	&quot;%VERPATCH%&quot; &quot;%%~G&quot; /pv &quot;%FILEVERSION%&quot;&#xd;
	if ERRORLEVEL 1 (&#xd;
		echo [ERR]Could not Update the ProductVersion information in %%~G&#xd;
	)&#xd;
	&#xd;
	echo [INFO]Calling signtool sign /f %WORKSPACE%\AMDCert_exp6-2016.pfx /p %SIGN_PWD% &quot;%%~G&quot;&#xd;
	signtool sign /f %WORKSPACE%\AMDCert_exp6-2016.pfx /p %SIGN_PWD% &quot;%%~G&quot;&#xd;
	if ERRORLEVEL 1 (&#xd;
		echo [ERR]Could not sign %%~G&#xd;
	) else (&#xd;
		::Timestamp it&#xd;
		echo [INFO]Calling signtool timestamp /t %TIMESTAMP_URL% &quot;%%~G&quot;&#xd;
		signtool timestamp /t %TIMESTAMP_URL% &quot;%%~G&quot;&#xd;
	)&#xd;
)&#xd;
&#xd;
for /r &quot;%SAMPLEDIR%&quot; %%G in (*.dll) do (&#xd;
	&quot;%VERPATCH%&quot; &quot;%%~G&quot; &quot;%FILEVERSION%&quot; /va /s FileDescription &quot;%%~nxG&quot; /s LegalCopyright %COPYRIGHT% /s ProductName &quot;%PRODUCTNAME%&quot;&#xd;
	if ERRORLEVEL 1 (&#xd;
		echo [ERR]Could not add version resource information to %%~G&#xd;
	)&#xd;
	&quot;%VERPATCH%&quot; &quot;%%~G&quot; /pv &quot;%FILEVERSION%&quot;&#xd;
	if ERRORLEVEL 1 (&#xd;
		echo [ERR]Could not Update the ProductVersion information in %%~G&#xd;
	)&#xd;
	&#xd;
	echo [INFO]Calling signtool sign /f %WORKSPACE%\AMDCert_exp6-2016.pfx /p %SIGN_PWD% &quot;%%~G&quot;&#xd;
	signtool sign /f %WORKSPACE%\AMDCert_exp6-2016.pfx /p %SIGN_PWD% &quot;%%~G&quot;&#xd;
	if ERRORLEVEL 1 (&#xd;
		echo [ERR]Could not sign %%~G&#xd;
	) else (&#xd;
		::Timestamp it&#xd;
		echo [INFO]Calling signtool timestamp /t %TIMESTAMP_URL% &quot;%%~G&quot;&#xd;
		signtool timestamp /t %TIMESTAMP_URL% &quot;%%~G&quot;&#xd;
	)&#xd;
)&#xd;
&#xd;
endlocal&#xd;
</command>
    </hudson.tasks.BatchFile>
    <hudson.tasks.BatchFile>
      <command>@echo off&#xd;
::- Copyright ©2014 Advanced Micro Devices, Inc. All rights reserved.&#xd;
&#xd;
setlocal&#xd;
&#xd;
pushd InstallManagerExtn\%C%\%P%&#xd;
	echo [INFO]Calling %SEVENZ% a -t7z %WORKSPACE%\SDKInstallManager_%C%_%P%_%PRODUCTVERSION%_bin.%ARCHIVE_EXTENSION% -i!*.exe -i!*.dll -i!*.lib -x!AMD-SDK-InstallManager-v%PRODUCTVERSION%.exe&#xd;
	%SEVENZ% a -t7z %WORKSPACE%\SDKInstallManager_%C%_%P%_%PRODUCTVERSION%_bin.%ARCHIVE_EXTENSION% -i!*.exe -i!*.dll -i!*.lib -x!AMD-SDK-InstallManager-v%PRODUCTVERSION%.exe&#xd;
popd&#xd;
&#xd;
endlocal</command>
    </hudson.tasks.BatchFile>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>SDKInstallManager_${C}_${P}_${PRODUCTVERSION}_bin.${ARCHIVE_EXTENSION},InstallManagerExtn\${C}\${P}\AMD-SDK-InstallManager-v${PRODUCTVERSION}.exe</artifacts>
      <allowEmptyArchive>false</allowEmptyArchive>
      <onlyIfSuccessful>false</onlyIfSuccessful>
      <fingerprint>true</fingerprint>
      <defaultExcludes>true</defaultExcludes>
    </hudson.tasks.ArtifactArchiver>
  </publishers>
  <buildWrappers>
    <hudson.plugins.ws__cleanup.PreBuildCleanup plugin="ws-cleanup@0.26">
      <deleteDirs>false</deleteDirs>
      <cleanupParameter></cleanupParameter>
      <externalDelete></externalDelete>
    </hudson.plugins.ws__cleanup.PreBuildCleanup>
    <com.michelin.cio.hudson.plugins.maskpasswords.MaskPasswordsBuildWrapper/>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.7.1"/>
    <com.michelin.cio.hudson.plugins.copytoslave.CopyToSlaveBuildWrapper plugin="copy-to-slave@1.4.4">
      <includes>verpatch/verpatch.exe,AMDCert_exp6-2016.pfx</includes>
      <excludes></excludes>
      <flatten>false</flatten>
      <includeAntExcludes>false</includeAntExcludes>
      <hudsonHomeRelative>false</hudsonHomeRelative>
      <relativeTo>userContent</relativeTo>
    </com.michelin.cio.hudson.plugins.copytoslave.CopyToSlaveBuildWrapper>
    <org.jenkinsci.plugins.buildnamesetter.BuildNameSetter plugin="build-name-setter@1.3">
      <template>${ENV,var=&quot;PRODUCTVERSION&quot;}</template>
    </org.jenkinsci.plugins.buildnamesetter.BuildNameSetter>
  </buildWrappers>
  <executionStrategy class="hudson.matrix.DefaultMatrixExecutionStrategyImpl">
    <runSequentially>false</runSequentially>
    <sorter class="hudson.matrix.NoopMatrixConfigurationSorter"/>
  </executionStrategy>
</matrix-project>