<?xml version='1.0' encoding='UTF-8'?>
<matrix-project plugin="matrix-project@1.4.1">
  <actions/>
  <description>&lt;b&gt;This job creates the installer packages for Media SDK corresponding to a particular MediaSDK build job i.e. MEDIASDK_BUILD&lt;/b&gt;</description>
  <logRotator class="hudson.tasks.LogRotator">
    <daysToKeep>-1</daysToKeep>
    <numToKeep>20</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.security.AuthorizationMatrixProperty>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update:msingh</permission>
      <permission>hudson.model.Run.Delete:kishorkl</permission>
      <permission>hudson.model.Run.Delete:ppremkum</permission>
      <permission>hudson.model.Run.Delete:amagarwa</permission>
      <permission>hudson.model.Run.Delete:msingh</permission>
      <permission>hudson.model.Run.Delete:nshigiha</permission>
      <permission>hudson.model.Item.Workspace:kishorkl</permission>
      <permission>hudson.model.Item.Workspace:ppremkum</permission>
      <permission>hudson.model.Item.Workspace:amagarwa</permission>
      <permission>hudson.model.Item.Workspace:msingh</permission>
      <permission>hudson.model.Item.Workspace:nshigiha</permission>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Delete:msingh</permission>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains:msingh</permission>
      <permission>hudson.model.Item.Configure:kishorkl</permission>
      <permission>hudson.model.Item.Configure:amagarwa</permission>
      <permission>hudson.model.Item.Configure:msingh</permission>
      <permission>hudson.model.Item.Configure:nshigiha</permission>
      <permission>hudson.model.Item.Cancel:kishorkl</permission>
      <permission>hudson.model.Item.Cancel:ppremkum</permission>
      <permission>hudson.model.Item.Cancel:amagarwa</permission>
      <permission>hudson.model.Item.Cancel:msingh</permission>
      <permission>hudson.model.Item.Cancel:nshigiha</permission>
      <permission>hudson.model.Item.Read:kishorkl</permission>
      <permission>hudson.model.Item.Read:ppremkum</permission>
      <permission>hudson.model.Item.Read:amagarwa</permission>
      <permission>hudson.model.Item.Read:anonymous</permission>
      <permission>hudson.model.Item.Read:msingh</permission>
      <permission>hudson.model.Item.Read:nshigiha</permission>
      <permission>hudson.model.Item.Delete:msingh</permission>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:ppremkum</permission>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:msingh</permission>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create:msingh</permission>
      <permission>hudson.model.Item.Build:kishorkl</permission>
      <permission>hudson.model.Item.Build:ppremkum</permission>
      <permission>hudson.model.Item.Build:amagarwa</permission>
      <permission>hudson.model.Item.Build:msingh</permission>
      <permission>hudson.model.Item.Build:nshigiha</permission>
      <permission>hudson.scm.SCM.Tag:kishorkl</permission>
      <permission>hudson.scm.SCM.Tag:ppremkum</permission>
      <permission>hudson.scm.SCM.Tag:amagarwa</permission>
      <permission>hudson.scm.SCM.Tag:msingh</permission>
      <permission>hudson.scm.SCM.Tag:nshigiha</permission>
      <permission>hudson.model.Item.Discover:kishorkl</permission>
      <permission>hudson.model.Item.Discover:ppremkum</permission>
      <permission>hudson.model.Item.Discover:amagarwa</permission>
      <permission>hudson.model.Item.Discover:msingh</permission>
      <permission>hudson.model.Item.Discover:nshigiha</permission>
      <permission>hudson.model.Run.Update:kishorkl</permission>
      <permission>hudson.model.Run.Update:ppremkum</permission>
      <permission>hudson.model.Run.Update:amagarwa</permission>
      <permission>hudson.model.Run.Update:msingh</permission>
      <permission>hudson.model.Run.Update:nshigiha</permission>
    </hudson.security.AuthorizationMatrixProperty>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.6">
      <useBuildBlocker>false</useBuildBlocker>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.plugins.copyartifact.BuildSelectorParameter plugin="copyartifact@1.35">
          <name>BUILD_SELECTOR_MEDIASDK_BUILD</name>
          <description>This copies artifacts from the selected MEDIASDK_BUILD job.</description>
          <defaultSelector class="hudson.plugins.copyartifact.TriggeredBuildSelector">
            <fallbackToLastSuccessful>true</fallbackToLastSuccessful>
            <upstreamFilterStrategy>UseGlobalSetting</upstreamFilterStrategy>
          </defaultSelector>
        </hudson.plugins.copyartifact.BuildSelectorParameter>
        <hudson.model.StringParameterDefinition>
          <name>MAJOR_NUMBER</name>
          <description></description>
          <defaultValue>1</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>MINOR_NUMBER</name>
          <description></description>
          <defaultValue>1</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>SUBMINOR_NUMBER</name>
          <description></description>
          <defaultValue>0</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>MILESTONE</name>
          <description></description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>GA</string>
              <string>Beta</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <com.seitenbau.jenkins.plugins.dynamicparameter.scriptler.ScriptlerChoiceParameterDefinition plugin="dynamicparameter@0.2.0">
          <name>MEDIASDK_BUILD_NUMBER</name>
          <description>Specify the MediaSDK Build which needs to be packaged. </description>
          <__uuid>82c28781-674a-4712-92dd-e0d3e2b7d7e7</__uuid>
          <__remote>false</__remote>
          <__scriptlerScriptId>ListBuildNumbers.groovy</__scriptlerScriptId>
          <__parameters>
            <com.seitenbau.jenkins.plugins.dynamicparameter.scriptler.ScriptlerParameterDefinition_-ScriptParameter>
              <name>BUILD_JOB_NAME</name>
              <value>MEDIASDK_BUILD</value>
            </com.seitenbau.jenkins.plugins.dynamicparameter.scriptler.ScriptlerParameterDefinition_-ScriptParameter>
          </__parameters>
          <readonlyInputField>false</readonlyInputField>
        </com.seitenbau.jenkins.plugins.dynamicparameter.scriptler.ScriptlerChoiceParameterDefinition>
        <hudson.plugins.copyartifact.BuildSelectorParameter plugin="copyartifact@1.35">
          <name>BUILD_SELECTOR_INSTALLMANAGER_EXTN_BUILD</name>
          <description>This copies the artifacts from the SDKInstallManager_BLD job for the msica.dll</description>
          <defaultSelector class="hudson.plugins.copyartifact.TriggeredBuildSelector">
            <fallbackToLastSuccessful>true</fallbackToLastSuccessful>
            <upstreamFilterStrategy>UseGlobalSetting</upstreamFilterStrategy>
          </defaultSelector>
        </hudson.plugins.copyartifact.BuildSelectorParameter>
        <hudson.model.StringParameterDefinition>
          <name>P4_CHANGELIST</name>
          <description></description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <org.jenkinsci.plugins.customizebuildnow.BuildNowTextProperty plugin="customize-build-now@1.0"/>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.22">
      <autoRebuild>false</autoRebuild>
    </com.sonyericsson.rebuild.RebuildSettings>
    <org.jenkinsci.plugins.requeuejob.RequeueJobProperty plugin="jobrequeue@1.0">
      <requeueJob>false</requeueJob>
    </org.jenkinsci.plugins.requeuejob.RequeueJobProperty>
    <hudson.plugins.throttleconcurrents.ThrottleJobProperty plugin="throttle-concurrents@1.8.4">
      <maxConcurrentPerNode>0</maxConcurrentPerNode>
      <maxConcurrentTotal>0</maxConcurrentTotal>
      <throttleEnabled>false</throttleEnabled>
      <throttleOption>project</throttleOption>
      <matrixOptions>
        <throttleMatrixBuilds>true</throttleMatrixBuilds>
        <throttleMatrixConfigurations>false</throttleMatrixConfigurations>
      </matrixOptions>
    </hudson.plugins.throttleconcurrents.ThrottleJobProperty>
    <EnvInjectJobProperty plugin="envinject@1.91.1">
      <info>
        <groovyScriptContent>def PRODUCT_VERSION=MAJOR_NUMBER + &quot;.&quot; + MINOR_NUMBER + &quot;.&quot; + MEDIASDK_BUILD_NUMBER + &quot;.&quot; + BUILD_NUMBER;
def map = [:];
map.put( &quot;PRODUCT_VERSION&quot;, PRODUCT_VERSION );

def ARTIFACT_PRODUCTVERSION=MAJOR_NUMBER + &quot;.&quot; + MINOR_NUMBER ;
if ( &quot;0&quot; != SUBMINOR_NUMBER ) {
    ARTIFACT_PRODUCTVERSION+=&quot;-&quot; + SUBMINOR_NUMBER;
}

def PRODUCTION_URL_VERSION= ARTIFACT_PRODUCTVERSION + &quot;-&quot; + MILESTONE;
map.put( &quot;PRODUCTION_URL_VERSION&quot;, PRODUCTION_URL_VERSION );

ARTIFACT_PRODUCTVERSION+=&quot;.&quot; + MEDIASDK_BUILD_NUMBER + &quot;.&quot; + BUILD_NUMBER + &quot;-&quot; + MILESTONE;
map.put( &quot;ARTIFACT_PRODUCTVERSION&quot;, ARTIFACT_PRODUCTVERSION );

println &apos;---------------------------------&apos;;
println map;
println &apos;---------------------------------&apos;;

return map;</groovyScriptContent>
        <loadFilesFromMaster>false</loadFilesFromMaster>
      </info>
      <on>true</on>
      <keepJenkinsSystemVariables>true</keepJenkinsSystemVariables>
      <keepBuildVariables>true</keepBuildVariables>
      <overrideBuildParameters>false</overrideBuildParameters>
      <contributors/>
    </EnvInjectJobProperty>
  </properties>
  <scm class="hudson.plugins.perforce.PerforceSCM" plugin="perforce@1.3.34">
    <configVersion>2</configVersion>
    <p4User>jenkinshas</p4User>
    <p4Passwd>0f0kqlwarTrhwM5Z6nxTElYaqlJF/g==</p4Passwd>
    <p4Port>hyswp4p1.amd.com:1666</p4Port>
    <p4Client>${JOB_NAME}</p4Client>
    <projectPath>//depot/stg/cas/apps/cas/sdk_root/MediaSDK/data/...	//workspace/data/...
//depot/stg/cas/apps/cas/sdk_root/MediaSDK/installers/... //workspace/installers/...
//depot/stg/cas/apps/cas/sdk_root/MediaSDK/docs/... //workspace/docs/...
&quot;-//depot/stg/cas/apps/cas/sdk_root/MediaSDK/docs/AMF Guide Frame files/...&quot; &quot;//workspace/docs/AMF Guide Frame files/...&quot;
  
//depot/stg/cas/apps/cas/sdk_root/MediaSDK/samples/amf/.../docs/*.pdf	//workspace/samples/amf/.../docs/*.pdf	
//depot/stg/cas/apps/cas/sdk_root/MediaSDK/samples/dem/.../docs/*.pdf	//workspace/samples/dem/.../docs/*.pdf	
//depot/stg/cas/apps/cas/sdk_root/MediaSDK/samples/mediaFoundation/.../docs/*.pdf	//workspace/samples/mediaFoundation/.../docs/*.pdf
//depot/stg/cas/apps/cas/sdk_root/MediaSDK/MediaSDK_ReleaseNotes.pdf	//workspace/MediaSDK_ReleaseNotes.pdf

&quot;//depot/stg/cas/apps/cas/sdk_root/MediaSDK/thirdParty/components/DirectX video rendering sample/C++/Win32/...&quot; &quot;//workspace/thirdParty/components/DirectX video rendering sample/C++/Win32/...&quot;
&quot;//depot/stg/cas/apps/cas/sdk_root/MediaSDK/thirdParty/components/DirectX video rendering sample/C++/x64/...&quot; &quot;//workspace/thirdParty/components/DirectX video rendering sample/C++/x64/...&quot;

//depot/stg/cas/apps/cas/installers/InstallManager/resources/254563a034ed41e4e80b453700885aba/AMD.ico //workspace/installers/resources/AMD.ico</projectPath>
    <projectOptions>allwrite clobber nocompress unlocked nomodtime rmdir</projectOptions>
    <p4Label>${P4_CHANGELIST}</p4Label>
    <p4SysDrive></p4SysDrive>
    <p4SysRoot></p4SysRoot>
    <p4Tool>p4</p4Tool>
    <useClientSpec>false</useClientSpec>
    <useStreamDepot>false</useStreamDepot>
    <forceSync>false</forceSync>
    <alwaysForceSync>false</alwaysForceSync>
    <dontUpdateServer>false</dontUpdateServer>
    <disableAutoSync>false</disableAutoSync>
    <disableChangeLogOnly>false</disableChangeLogOnly>
    <disableSyncOnly>false</disableSyncOnly>
    <showIntegChanges>false</showIntegChanges>
    <useOldClientName>false</useOldClientName>
    <createWorkspace>true</createWorkspace>
    <updateView>true</updateView>
    <dontRenameClient>false</dontRenameClient>
    <updateCounterValue>false</updateCounterValue>
    <dontUpdateClient>false</dontUpdateClient>
    <exposeP4Passwd>false</exposeP4Passwd>
    <wipeBeforeBuild>true</wipeBeforeBuild>
    <quickCleanBeforeBuild>false</quickCleanBeforeBuild>
    <restoreChangedDeletedFiles>false</restoreChangedDeletedFiles>
    <wipeRepoBeforeBuild>true</wipeRepoBeforeBuild>
    <firstChange>0</firstChange>
    <fileLimit>0</fileLimit>
    <excludedFilesCaseSensitivity>true</excludedFilesCaseSensitivity>
    <slaveClientNameFormat>${basename}-${hash}</slaveClientNameFormat>
    <lineEndValue>local</lineEndValue>
    <useViewMask>true</useViewMask>
    <useViewMaskForPolling>true</useViewMaskForPolling>
    <useViewMaskForSyncing>false</useViewMaskForSyncing>
    <useViewMaskForChangeLog>false</useViewMaskForChangeLog>
    <pollOnlyOnMaster>false</pollOnlyOnMaster>
  </scm>
  <assignedNode>IS2012</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>true</concurrentBuild>
  <axes>
    <hudson.matrix.TextAxis>
      <name>P</name>
      <values>
        <string>x86</string>
        <string>amd64</string>
        <string>neutral</string>
      </values>
    </hudson.matrix.TextAxis>
    <hudson.matrix.LabelExpAxis>
      <name>L</name>
      <values>
        <string>IS2012</string>
      </values>
    </hudson.matrix.LabelExpAxis>
  </axes>
  <builders>
    <hudson.plugins.copyartifact.CopyArtifact plugin="copyartifact@1.35">
      <project>MEDIASDK_BUILD/C=Release,L=W,P=x64,T=v110</project>
      <filter>MediaSDK-Source-${OSTYPE}-*.7z</filter>
      <target></target>
      <excludes></excludes>
      <selector class="hudson.plugins.copyartifact.ParameterizedBuildSelector">
        <parameterName>BUILD_SELECTOR_MEDIASDK_BUILD</parameterName>
      </selector>
      <doNotFingerprintArtifacts>false</doNotFingerprintArtifacts>
    </hudson.plugins.copyartifact.CopyArtifact>
    <org.jenkinsci.plugins.conditionalbuildstep.ConditionalBuilder plugin="conditional-buildstep@1.3.3">
      <runner class="org.jenkins_ci.plugins.run_condition.BuildStepRunner$Fail" plugin="run-condition@1.0"/>
      <runCondition class="org.jenkins_ci.plugins.run_condition.core.StringsMatchCondition" plugin="run-condition@1.0">
        <arg1>$P</arg1>
        <arg2>neutral</arg2>
        <ignoreCase>true</ignoreCase>
      </runCondition>
      <conditionalbuilders>
        <hudson.plugins.copyartifact.CopyArtifact plugin="copyartifact@1.35">
          <project>SDKInstallManager_BUILD/C=Release,L=WBM,P=Win32,T=v110</project>
          <filter>SDKInstallManager_*_bin.7z</filter>
          <target></target>
          <excludes></excludes>
          <selector class="hudson.plugins.copyartifact.ParameterizedBuildSelector">
            <parameterName>BUILD_SELECTOR_INSTALLMANAGER_EXTN_BUILD</parameterName>
          </selector>
          <doNotFingerprintArtifacts>false</doNotFingerprintArtifacts>
        </hudson.plugins.copyartifact.CopyArtifact>
        <org.jenkinsci.plugins.windows__exe__runner.ExeBuilder plugin="windows-exe-runner@1.2">
          <exeName>7z.exe</exeName>
          <cmdLineArgs>x -aoa SDKInstallManager_*_bin.7z</cmdLineArgs>
          <failBuild>true</failBuild>
        </org.jenkinsci.plugins.windows__exe__runner.ExeBuilder>
      </conditionalbuilders>
    </org.jenkinsci.plugins.conditionalbuildstep.ConditionalBuilder>
    <hudson.tasks.BatchFile>
      <command>@echo off&#xd;
&#xd;
setlocal&#xd;
&#xd;
echo COPYARTIFACT_BUILD_NUMBER_MEDIASDK_BUILD: %COPYARTIFACT_BUILD_NUMBER_MEDIASDK_BUILD%&#xd;
echo MEDIASDK_BUILD_NUMBER: %MEDIASDK_BUILD_NUMBER%&#xd;
echo COPYARTIFACT_BUILD_NUMBER_SDKInstallManager_BUILD: %COPYARTIFACT_BUILD_NUMBER_SDKInstallManager_BUILD%&#xd;
&#xd;
if Not &quot;%MEDIASDK_BUILD_NUMBER%&quot;==&quot;%COPYARTIFACT_BUILD_NUMBER_MEDIASDK_BUILD%&quot; (&#xd;
	echo The Build number selected in the MEDIASDK_BUILD_NUMBER drop down does not match with the MediaSDK Build Artifacts copied.&#xd;
	echo Please select the correct MEDIASDK_BUILD_NUMBER&#xd;
	exit /b 1&#xd;
)&#xd;
&#xd;
echo Build numbers match. Proceeding.&#xd;
&#xd;
&quot;%SEVENZ%&quot; x -aoa &quot;MediaSDK-Source-%OSTYPE%-*.7z&quot;&#xd;
if ERRORLEVEL 1 (&#xd;
	exit /b ERRORLEVEL&#xd;
)&#xd;
&#xd;
set MM=&#xd;
if &quot;%P%&quot;==&quot;x86&quot; (&#xd;
	set MM=(VCEDEM_x86.ism VQMFT_WinStore_x86.ism VQMFT_x86.ism)&#xd;
)&#xd;
&#xd;
if &quot;%P%&quot;==&quot;amd64&quot; (&#xd;
	set MM=(VCEDEM_x64.ism VQMFT_WinStore_x64.ism VQMFT_x64.ism)&#xd;
)&#xd;
&#xd;
if &quot;%P%&quot;==&quot;neutral&quot; (&#xd;
	set MM=(DemSources.ism MediaFoundationSources.ism Common.ism StreamData.ism AMFSources.ism)&#xd;
)&#xd;
&#xd;
set MM=%MM%)&#xd;
set MM_DIR=%WORKSPACE%\installers\win\MergeModules&#xd;
&#xd;
echo MM_DIR: %MM_DIR%&#xd;
echo Building Merge Modules: %MM%&#xd;
for %%I in %MM% do (&#xd;
	echo Executing: &quot;%ISCMDBLD%&quot; -a CAS -r GA -v -x -p &quot;%MM_DIR%\%%I&quot; -y %PRODUCT_VERSION%&#xd;
	&quot;%ISCMDBLD%&quot; -a CAS -r GA -v -x -p &quot;%MM_DIR%\%%I&quot; -y %PRODUCT_VERSION%&#xd;
	if ERRORLEVEL 1 (&#xd;
		exit /b ERRORLEVEL &#xd;
	)&#xd;
)&#xd;
&#xd;
if ERRORLEVEL 0 (&#xd;
	echo %P% Merge Modules build successfully, signing the merge modules&#xd;
	call &quot;%ProgramFiles(x86)%\Microsoft Visual Studio 11.0\Common7\Tools\VsDevCmd.bat&quot;&#xd;
&#xd;
	echo -----------------Signing msms.---------------&#xd;
&#xd;
	set MM_DIR=%WORKSPACE%\installers\win\MergeModules&#xd;
	set COPYRIGHT=&quot;Copyright (c), %DATE:~-4%. Advanced Micro Devices, Inc.&quot;&#xd;
&#xd;
	for /r &quot;%MM_DIR%&quot; %%G in (*.msm) do (&#xd;
		&quot;signtool&quot; sign /sm /a &quot;%%~G&quot;&#xd;
		&quot;signtool&quot; timestamp /t http://timestamp.verisign.com/scripts/timestamp.dll &quot;%%~G&quot;&#xd;
	)&#xd;
	&#xd;
	echo ----------------- Done Signing--------------&#xd;
	echo Creating archive...&#xd;
	&#xd;
	&quot;%SEVENZ%&quot; a -t7z MediaSDK-v%ARTIFACT_PRODUCTVERSION%-%OSTYPE%-%P%-MM.7z &quot;.\installers\win\MergeModules\*.msm&quot;&#xd;
)&#xd;
&#xd;
endlocal</command>
    </hudson.tasks.BatchFile>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>MediaSDK-v${ARTIFACT_PRODUCTVERSION}-${OSTYPE}-${P}-MM.7z</artifacts>
      <allowEmptyArchive>false</allowEmptyArchive>
      <onlyIfSuccessful>false</onlyIfSuccessful>
      <fingerprint>true</fingerprint>
      <defaultExcludes>true</defaultExcludes>
    </hudson.tasks.ArtifactArchiver>
    <hudson.plugins.parameterizedtrigger.BuildTrigger plugin="parameterized-trigger@2.26">
      <configs>
        <hudson.plugins.parameterizedtrigger.BuildTriggerConfig>
          <configs class="empty-list"/>
          <projects>UnifiedInstaller</projects>
          <condition>SUCCESS</condition>
          <triggerWithNoParameters>true</triggerWithNoParameters>
        </hudson.plugins.parameterizedtrigger.BuildTriggerConfig>
      </configs>
    </hudson.plugins.parameterizedtrigger.BuildTrigger>
  </publishers>
  <buildWrappers>
    <hudson.plugins.ws__cleanup.PreBuildCleanup plugin="ws-cleanup@0.25">
      <deleteDirs>false</deleteDirs>
      <cleanupParameter></cleanupParameter>
      <externalDelete></externalDelete>
    </hudson.plugins.ws__cleanup.PreBuildCleanup>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.6"/>
    <org.jenkinsci.plugins.buildnamesetter.BuildNameSetter plugin="build-name-setter@1.3">
      <template>${ENV,var=&quot;PRODUCT_VERSION&quot;}</template>
    </org.jenkinsci.plugins.buildnamesetter.BuildNameSetter>
  </buildWrappers>
  <executionStrategy class="hudson.matrix.DefaultMatrixExecutionStrategyImpl">
    <runSequentially>false</runSequentially>
    <sorter class="hudson.matrix.NoopMatrixConfigurationSorter"/>
  </executionStrategy>
</matrix-project>