<?xml version='1.0' encoding='UTF-8'?>
<matrix-project plugin="matrix-project@1.4.1">
  <actions/>
  <description>Builds OpenCL Release and Debug configurations for Linux</description>
  <logRotator class="hudson.tasks.LogRotator">
    <daysToKeep>-1</daysToKeep>
    <numToKeep>5</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.security.AuthorizationMatrixProperty>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update:msingh</permission>
      <permission>hudson.model.Run.Delete:msingh</permission>
      <permission>hudson.model.Item.Workspace:msingh</permission>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Delete:msingh</permission>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains:msingh</permission>
      <permission>hudson.model.Item.Configure:msingh</permission>
      <permission>hudson.model.Item.Cancel:msingh</permission>
      <permission>hudson.model.Item.Delete:msingh</permission>
      <permission>hudson.model.Item.Read:anonymous</permission>
      <permission>hudson.model.Item.Read:msingh</permission>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:msingh</permission>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create:msingh</permission>
      <permission>hudson.model.Item.Build:msingh</permission>
      <permission>hudson.scm.SCM.Tag:msingh</permission>
      <permission>hudson.model.Item.Discover:msingh</permission>
      <permission>hudson.model.Run.Update:msingh</permission>
    </hudson.security.AuthorizationMatrixProperty>
    <jenkins.plugins.jobicon.CustomIconProperty plugin="custom-job-icon@0.2">
      <iconfile>79194b38ccf25de20ff4d6321e82a2c86c86f562.png</iconfile>
    </jenkins.plugins.jobicon.CustomIconProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>DriverVersion</name>
          <description></description>
          <defaultValue>14.501</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>MAJOR_NUMBER</name>
          <description></description>
          <defaultValue>2</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>MINOR_NUMBER</name>
          <description></description>
          <defaultValue>0</defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.22">
      <autoRebuild>false</autoRebuild>
    </com.sonyericsson.rebuild.RebuildSettings>
    <EnvInjectJobProperty plugin="envinject@1.91.1">
      <info>
        <groovyScriptContent>// ****************************************************************************************************
// Copyright (c) 2014 Advanced Micro Devices, Inc. All rights reserved.

//Dump the environment variables
def map = [:];

if( JOB_NAME.contains( &quot;x86&quot; ) ) {
	map.put( &quot;OPENCL_PLATFORM&quot;, &quot;lnx&quot; );
}

if( JOB_NAME.contains( &quot;amd64&quot; ) ) {
	map.put( &quot;OPENCL_PLATFORM&quot;, &quot;lnx64a.64only&quot; );
}

if( JOB_NAME.contains( &quot;dbg&quot; ) ) {
	map.put( &quot;CONFIGURATION&quot;, &quot;debug&quot; );
}

if( JOB_NAME.contains( &quot;rel&quot; ) ) {
	map.put( &quot;CONFIGURATION&quot;, &quot;release&quot; );
}

map.put( &quot;PRODUCTVERSION&quot;, MAJOR_NUMBER + &quot;.&quot; + MINOR_NUMBER + &quot;-&quot; + DriverVersion + &quot;-&quot; + BUILD_NUMBER );

println &apos;-------------------------------------&apos;
println &apos;Evnironment Variables Added: &apos; + map;
println &apos;-------------------------------------&apos;

return map;</groovyScriptContent>
        <loadFilesFromMaster>false</loadFilesFromMaster>
      </info>
      <on>true</on>
      <keepJenkinsSystemVariables>true</keepJenkinsSystemVariables>
      <keepBuildVariables>true</keepBuildVariables>
      <overrideBuildParameters>false</overrideBuildParameters>
      <contributors/>
    </EnvInjectJobProperty>
  </properties>
  <scm class="hudson.plugins.perforce.PerforceSCM" plugin="perforce@1.3.34">
    <configVersion>2</configVersion>
    <p4User>jenkinshas</p4User>
    <p4Passwd>0f0kqlwarTrhwM5Z6nxTElYaqlJF/g==</p4Passwd>
    <p4Port>hyswp4p1.amd.com:1666</p4Port>
    <p4Client>${JOB_NAME}</p4Client>
    <projectPath>//depot/rel/r6/${DriverVersion}/drivers/dx/shared/mva_vhd/mmd/subcomponents/mcl/CL/cl.h //workspace/rel/${DriverVersion}/drivers/dx/shared/mva_vhd/mmd/subcomponents/mcl/CL/cl.h</projectPath>
    <projectOptions>noallwrite clobber nocompress unlocked nomodtime rmdir</projectOptions>
    <clientOwner></clientOwner>
    <p4SysDrive></p4SysDrive>
    <p4SysRoot></p4SysRoot>
    <p4Tool>p4</p4Tool>
    <useClientSpec>false</useClientSpec>
    <useStreamDepot>false</useStreamDepot>
    <forceSync>false</forceSync>
    <alwaysForceSync>false</alwaysForceSync>
    <dontUpdateServer>false</dontUpdateServer>
    <disableAutoSync>false</disableAutoSync>
    <disableChangeLogOnly>false</disableChangeLogOnly>
    <disableSyncOnly>false</disableSyncOnly>
    <showIntegChanges>false</showIntegChanges>
    <useOldClientName>false</useOldClientName>
    <createWorkspace>true</createWorkspace>
    <updateView>true</updateView>
    <dontRenameClient>false</dontRenameClient>
    <updateCounterValue>false</updateCounterValue>
    <dontUpdateClient>false</dontUpdateClient>
    <exposeP4Passwd>true</exposeP4Passwd>
    <wipeBeforeBuild>true</wipeBeforeBuild>
    <quickCleanBeforeBuild>false</quickCleanBeforeBuild>
    <restoreChangedDeletedFiles>false</restoreChangedDeletedFiles>
    <wipeRepoBeforeBuild>true</wipeRepoBeforeBuild>
    <firstChange>-1</firstChange>
    <fileLimit>0</fileLimit>
    <excludedFilesCaseSensitivity>true</excludedFilesCaseSensitivity>
    <slaveClientNameFormat>${basename}-${hash}</slaveClientNameFormat>
    <lineEndValue>local</lineEndValue>
    <useViewMask>true</useViewMask>
    <useViewMaskForPolling>true</useViewMaskForPolling>
    <useViewMaskForSyncing>false</useViewMaskForSyncing>
    <useViewMaskForChangeLog>false</useViewMaskForChangeLog>
    <pollOnlyOnMaster>false</pollOnlyOnMaster>
  </scm>
  <assignedNode>LBM</assignedNode>
  <canRoam>false</canRoam>
  <disabled>true</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <axes>
    <hudson.matrix.TextAxis>
      <name>C</name>
      <values>
        <string>rel</string>
        <string>dbg</string>
      </values>
    </hudson.matrix.TextAxis>
    <hudson.matrix.TextAxis>
      <name>P</name>
      <values>
        <string>x86</string>
        <string>amd64</string>
      </values>
    </hudson.matrix.TextAxis>
    <hudson.matrix.LabelExpAxis>
      <name>L</name>
      <values>
        <string>LBM</string>
      </values>
    </hudson.matrix.LabelExpAxis>
  </axes>
  <builders>
    <org.jenkinsci.plugins.configfiles.builder.ConfigFileBuildStep plugin="config-file-provider@2.7.5">
      <managedFiles>
        <org.jenkinsci.plugins.configfiles.buildwrapper.ManagedFile>
          <fileId>org.jenkinsci.plugins.configfiles.custom.CustomConfig1416898926936</fileId>
          <targetLocation>${WORKSPACE}</targetLocation>
          <variable>MappingFile</variable>
        </org.jenkinsci.plugins.configfiles.buildwrapper.ManagedFile>
      </managedFiles>
    </org.jenkinsci.plugins.configfiles.builder.ConfigFileBuildStep>
    <hudson.tasks.Shell>
      <command>#!/bin/bash

echo MappingFile: ${MappingFile}
if [ ! -e &quot;${MappingFile}&quot; ]; then
	echo [ERR]Could not find the Mapping File: ${MappingFile}
	exit 1
fi

PERL=$(which perl)
${PERL} -p -i.bak -e &quot;s?DriverVersion?${DriverVersion}?g;&quot; &quot;${MappingFile}&quot;

P4Update=$WORKSPACE/P4Update.sh
if [ ! -e &quot;${P4Update}&quot; ]; then
	echo [ERR]Could not find the Perforce Updater File: ${P4Update}
	exit 1
fi

DK_DIR=/mnt/OpenCL_DK_linux
ls -l &quot;${DK_DIR}&quot;

if [ ! -e &quot;${DK_DIR}/dk/lnx/bin/make&quot; ]; then
	echo [INFO]OpenCL Link DK NOT mounted. Mounting it...
	if [ ! -e &quot;${DK_DIR}&quot; ]; then
		mkdir -pv &quot;${DK_DIR}&quot;
	fi
	mount -t cifs //jenkins.cas.amd.com/OpenCL_DK_linux/ -o username=jenkins,password=abcd &quot;${DK_DIR}&quot;
else
	echo [INFO]OpenCL Linux DK mounted
fi

echo LABEL: $L

echo P4PORT: $P4PORT
echo P4USER: $P4USER
echo P4TICKET: $P4TICKET
echo P4CLIENT: $P4CLIENT

dos2unix -k -o ${P4Update}

chmod +x ${P4Update}
${P4Update} $MappingFile</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>#!/bin/bash

echo [INFO]DriverVersion: ${DriverVersion}

export PATH=/mnt/OpenCL_DK_linux/dk/lnx/bin:${PATH}
echo [INFO]PATH: ${PATH}

pushd rel/${DriverVersion}/stream/opencl
	make $C.$OPENCL_PLATFORM
	Retval=$?
	if [ $Retval -eq 0 ]; then
		# build succeeded, archive the binaries
		pushd dist/linux/${CONFIGURATION}
			ARCHIVE_NAME=$WORKSPACE/OpenCL_${PRODUCTVERSION}_${OSTYPE}_${CONFIGURATION}_${P}.tar.bz2
			echo [INFO]Calling tar -jcvf ${ARCHIVE_NAME} ./
			tar -jcvf ${ARCHIVE_NAME} ./
			Retval=$?
			if [ $Retval -ne 0 ]; then
				echo [ERR]Could not create archive ${ARCHIVE_NAME} of the contents of the directory $WORKSPACE/dist/linux/${CONFIGURATION}
			fi
		popd
	fi
popd

exit $Retval</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>OpenCL_${PRODUCTVERSION}_${OSTYPE}_${CONFIGURATION}_${P}.tar.bz2</artifacts>
      <allowEmptyArchive>false</allowEmptyArchive>
      <onlyIfSuccessful>false</onlyIfSuccessful>
      <fingerprint>true</fingerprint>
      <defaultExcludes>true</defaultExcludes>
    </hudson.tasks.ArtifactArchiver>
  </publishers>
  <buildWrappers>
    <hudson.plugins.ws__cleanup.PreBuildCleanup plugin="ws-cleanup@0.25">
      <deleteDirs>false</deleteDirs>
      <cleanupParameter></cleanupParameter>
      <externalDelete></externalDelete>
    </hudson.plugins.ws__cleanup.PreBuildCleanup>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.6"/>
    <com.michelin.cio.hudson.plugins.copytoslave.CopyToSlaveBuildWrapper plugin="copy-to-slave@1.4.4">
      <includes>P4Update.sh</includes>
      <excludes></excludes>
      <flatten>false</flatten>
      <includeAntExcludes>false</includeAntExcludes>
      <hudsonHomeRelative>false</hudsonHomeRelative>
      <relativeTo>userContent</relativeTo>
    </com.michelin.cio.hudson.plugins.copytoslave.CopyToSlaveBuildWrapper>
    <org.jenkinsci.plugins.buildnamesetter.BuildNameSetter plugin="build-name-setter@1.3">
      <template>${ENV,var=&quot;PRODUCTVERSION&quot;}</template>
    </org.jenkinsci.plugins.buildnamesetter.BuildNameSetter>
  </buildWrappers>
  <executionStrategy class="hudson.matrix.DefaultMatrixExecutionStrategyImpl">
    <runSequentially>false</runSequentially>
    <sorter class="hudson.matrix.NoopMatrixConfigurationSorter"/>
  </executionStrategy>
</matrix-project>