<?xml version='1.0' encoding='UTF-8'?>
<matrix-project plugin="matrix-project@1.6">
  <actions/>
  <description>Builds the AMD Display Library from Perforce. Both release and debug configurations for Windows and Linux are built.</description>
  <logRotator class="hudson.tasks.LogRotator">
    <daysToKeep>-1</daysToKeep>
    <numToKeep>5</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.security.AuthorizationMatrixProperty>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update:ppremkum</permission>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update:tjayakum</permission>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update:msingh</permission>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update:nshigiha</permission>
      <permission>hudson.model.Run.Delete:tjayakum</permission>
      <permission>hudson.model.Run.Delete:msingh</permission>
      <permission>hudson.model.Item.Workspace:ppremkum</permission>
      <permission>hudson.model.Item.Workspace:tjayakum</permission>
      <permission>hudson.model.Item.Workspace:msingh</permission>
      <permission>hudson.model.Item.Workspace:nshigiha</permission>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Delete:ppremkum</permission>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Delete:tjayakum</permission>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Delete:msingh</permission>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains:ppremkum</permission>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains:tjayakum</permission>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains:msingh</permission>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains:nshigiha</permission>
      <permission>hudson.model.Item.Configure:tjayakum</permission>
      <permission>hudson.model.Item.Configure:msingh</permission>
      <permission>hudson.model.Item.Cancel:ppremkum</permission>
      <permission>hudson.model.Item.Cancel:tjayakum</permission>
      <permission>hudson.model.Item.Cancel:msingh</permission>
      <permission>hudson.model.Item.Cancel:nshigiha</permission>
      <permission>hudson.model.Item.Delete:msingh</permission>
      <permission>hudson.model.Item.Read:ppremkum</permission>
      <permission>hudson.model.Item.Read:tjayakum</permission>
      <permission>hudson.model.Item.Read:anonymous</permission>
      <permission>hudson.model.Item.Read:msingh</permission>
      <permission>hudson.model.Item.Read:nshigiha</permission>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:ppremkum</permission>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:tjayakum</permission>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:msingh</permission>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:nshigiha</permission>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create:ppremkum</permission>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create:tjayakum</permission>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create:msingh</permission>
      <permission>hudson.model.Item.Build:ppremkum</permission>
      <permission>hudson.model.Item.Build:tjayakum</permission>
      <permission>hudson.model.Item.Build:msingh</permission>
      <permission>hudson.model.Item.Build:nshigiha</permission>
      <permission>hudson.scm.SCM.Tag:ppremkum</permission>
      <permission>hudson.scm.SCM.Tag:tjayakum</permission>
      <permission>hudson.scm.SCM.Tag:msingh</permission>
      <permission>hudson.scm.SCM.Tag:nshigiha</permission>
      <permission>hudson.model.Item.Discover:ppremkum</permission>
      <permission>hudson.model.Item.Discover:tjayakum</permission>
      <permission>hudson.model.Item.Discover:msingh</permission>
      <permission>hudson.model.Item.Discover:nshigiha</permission>
      <permission>hudson.model.Run.Update:ppremkum</permission>
      <permission>hudson.model.Run.Update:tjayakum</permission>
      <permission>hudson.model.Run.Update:msingh</permission>
      <permission>hudson.model.Run.Update:nshigiha</permission>
    </hudson.security.AuthorizationMatrixProperty>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.7.1">
      <useBuildBlocker>false</useBuildBlocker>
      <blockLevel>GLOBAL</blockLevel>
      <scanQueueFor>DISABLED</scanQueueFor>
      <blockingJobs></blockingJobs>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
    <jenkins.plugins.jobicon.CustomIconProperty plugin="custom-job-icon@0.2">
      <iconfile>79194b38ccf25de20ff4d6321e82a2c86c86f562.png</iconfile>
    </jenkins.plugins.jobicon.CustomIconProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>MAJOR_NUMBER</name>
          <description></description>
          <defaultValue>8</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>MINOR_NUMBER</name>
          <description></description>
          <defaultValue>0</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>P4_CHANGELIST</name>
          <description>Leave blank if want to build from the head.</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.plugins.matrix__configuration__parameter.MatrixCombinationsParameterDefinition plugin="matrix-combinations-parameter@1.0.9">
          <name>BUILD_MATRIX</name>
          <description></description>
        </hudson.plugins.matrix__configuration__parameter.MatrixCombinationsParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <org.jenkinsci.plugins.customizebuildnow.BuildNowTextProperty plugin="customize-build-now@1.0"/>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.25">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <org.jenkinsci.plugins.requeuejob.RequeueJobProperty plugin="jobrequeue@1.0">
      <requeueJob>true</requeueJob>
    </org.jenkinsci.plugins.requeuejob.RequeueJobProperty>
    <hudson.plugins.throttleconcurrents.ThrottleJobProperty plugin="throttle-concurrents@1.8.4">
      <maxConcurrentPerNode>0</maxConcurrentPerNode>
      <maxConcurrentTotal>0</maxConcurrentTotal>
      <throttleEnabled>false</throttleEnabled>
      <throttleOption>project</throttleOption>
      <matrixOptions>
        <throttleMatrixBuilds>true</throttleMatrixBuilds>
        <throttleMatrixConfigurations>false</throttleMatrixConfigurations>
      </matrixOptions>
    </hudson.plugins.throttleconcurrents.ThrottleJobProperty>
    <EnvInjectJobProperty plugin="envinject@1.92.1">
      <info>
        <groovyScriptContent>// ****************************************************************************************************
// Copyright (c) 2015 Advanced Micro Devices, Inc. All rights reserved.

import java.lang.String;

//Dump the environment variables
def map = [:];

//JOB_NAME: ADL/C=rel,P=x86,label=WBM_amd64
if( JOB_NAME.contains( &quot;WBM_amd64&quot; ) ) {
	if( JOB_NAME.contains( &quot;x86&quot; ) ) {
		map.put( &quot;ADL_PLATFORM&quot;, &quot;wNow&quot; );
		map.put( &quot;PLATFORM_ARCH_VS&quot;, &quot;Win32&quot; );
	}
	else if( JOB_NAME.contains( &quot;amd64&quot; ) ) {
		map.put( &quot;ADL_PLATFORM&quot;, &quot;wNow64a&quot; );
		map.put( &quot;PLATFORM_ARCH_VS&quot;, &quot;x64&quot; );
	}
	else {
		println &quot;Should not come here&quot;
	}

	if( JOB_NAME.contains( &quot;dbg&quot; ) ) {
		map.put( &quot;CONFIGURATION&quot;, &quot;Debug&quot; );
	}

	if( JOB_NAME.contains( &quot;rel&quot; ) ) {
		map.put( &quot;CONFIGURATION&quot;, &quot;Release&quot; );
	}
	
	map.put( &quot;J&quot;, &quot;1.8&quot; );
	map.put( &quot;T&quot;, &quot;v110&quot; );
	map.put( &quot;ARCHIVE_EXTENSION&quot;, &quot;7z&quot; );
}

if( JOB_NAME.contains( &quot;LBM&quot; ) ) {
	map.put( &quot;T&quot;, &quot;gcc473&quot; );
	map.put( &quot;OPENCL_DK_SHARE_NAME&quot;, &quot;OpenCL_DK_linux&quot; );
	map.put( &quot;ARCHIVE_EXTENSION&quot;, &quot;tar.bz2&quot; );
	
	if( JOB_NAME.contains( &quot;x86&quot; ) ) {
		map.put( &quot;ADL_PLATFORM&quot;, &quot;lnx&quot; );
	}

	if( JOB_NAME.contains( &quot;amd64&quot; ) ) {
		map.put( &quot;ADL_PLATFORM&quot;, &quot;lnx64a&quot; );
	}

	if( JOB_NAME.contains( &quot;dbg&quot; ) ) {
		map.put( &quot;CONFIGURATION&quot;, &quot;debug&quot; );
	}

	if( JOB_NAME.contains( &quot;rel&quot; ) ) {
		map.put( &quot;CONFIGURATION&quot;, &quot;release&quot; );
	}
}

map.put( &quot;PRODUCTVERSION&quot;, MAJOR_NUMBER + &quot;.&quot; + MINOR_NUMBER +  &quot;.&quot; + BUILD_NUMBER );

println &apos;-------------------------------------&apos;
println &apos;Evnironment Variables Added: &apos; + map;
println &apos;JOB_NAME: &apos; + JOB_NAME;
println &apos;-------------------------------------&apos;

return map;</groovyScriptContent>
        <loadFilesFromMaster>false</loadFilesFromMaster>
      </info>
      <on>true</on>
      <keepJenkinsSystemVariables>true</keepJenkinsSystemVariables>
      <keepBuildVariables>true</keepBuildVariables>
      <overrideBuildParameters>false</overrideBuildParameters>
      <contributors/>
    </EnvInjectJobProperty>
  </properties>
  <scm class="hudson.plugins.perforce.PerforceSCM" plugin="perforce@1.3.35">
    <configVersion>2</configVersion>
    <p4User>jenkinshas</p4User>
    <p4Passwd>0f0kqlwarTrhwM5Z6nxTElYaqlJF/g==</p4Passwd>
    <p4Port>hyswp4p1.amd.com:1666</p4Port>
    <p4Client>${JOB_NAME}</p4Client>
    <projectPath>//depot/stg/adl/drivers/adl/...	//workspace/drivers/adl/...
-//depot/stg/adl/drivers/adl/doc/...	//workspace/drivers/adl/doc/...
-//depot/stg/adl/drivers/adl/Public-Documents/...	//workspace/drivers/adl/Public-Documents/...
-//depot/stg/adl/drivers/adl/test/...	//workspace/drivers/adl/test/...

//depot/main/make/...	//workspace/make/...
//depot/main/drivers/inc/...	//workspace/drivers/inc/...
//depot/main/drivers/apl/...	//workspace/drivers/apl/...
//depot/main/drivers/appprofiles/Inc/...	//workspace/drivers/appprofiles/Inc/...
//depot/main/drivers/2d/dal/inc/...	//workspace/drivers/2d/dal/inc/...
//depot/main/drivers/2d/lnx/include/...	//workspace/drivers/2d/lnx/include/...
//depot/main/drivers/pxproxy/inc/...	//workspace/drivers/pxproxy/inc/...
-//depot/main/drivers/.../*.doc	//workspace/drivers/.../*.doc</projectPath>
    <projectOptions>noallwrite clobber nocompress unlocked nomodtime rmdir</projectOptions>
    <p4Label>${P4_CHANGELIST}</p4Label>
    <p4SysDrive></p4SysDrive>
    <p4SysRoot></p4SysRoot>
    <p4Tool>p4</p4Tool>
    <useClientSpec>false</useClientSpec>
    <useStreamDepot>false</useStreamDepot>
    <forceSync>false</forceSync>
    <alwaysForceSync>false</alwaysForceSync>
    <dontUpdateServer>false</dontUpdateServer>
    <disableAutoSync>false</disableAutoSync>
    <disableChangeLogOnly>false</disableChangeLogOnly>
    <disableSyncOnly>false</disableSyncOnly>
    <showIntegChanges>false</showIntegChanges>
    <useOldClientName>false</useOldClientName>
    <createWorkspace>true</createWorkspace>
    <updateView>true</updateView>
    <dontRenameClient>false</dontRenameClient>
    <updateCounterValue>false</updateCounterValue>
    <dontUpdateClient>false</dontUpdateClient>
    <exposeP4Passwd>true</exposeP4Passwd>
    <wipeBeforeBuild>true</wipeBeforeBuild>
    <quickCleanBeforeBuild>false</quickCleanBeforeBuild>
    <restoreChangedDeletedFiles>false</restoreChangedDeletedFiles>
    <wipeRepoBeforeBuild>true</wipeRepoBeforeBuild>
    <firstChange>-1</firstChange>
    <fileLimit>0</fileLimit>
    <excludedFilesCaseSensitivity>true</excludedFilesCaseSensitivity>
    <slaveClientNameFormat>${basename}-${hash}</slaveClientNameFormat>
    <lineEndValue>local</lineEndValue>
    <useViewMask>true</useViewMask>
    <useViewMaskForPolling>true</useViewMaskForPolling>
    <useViewMaskForSyncing>false</useViewMaskForSyncing>
    <useViewMaskForChangeLog>false</useViewMaskForChangeLog>
    <pollOnlyOnMaster>false</pollOnlyOnMaster>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <hudson.triggers.SCMTrigger>
      <spec>@midnight</spec>
      <ignorePostCommitHooks>false</ignorePostCommitHooks>
    </hudson.triggers.SCMTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <axes>
    <hudson.matrix.TextAxis>
      <name>C</name>
      <values>
        <string>rel</string>
        <string>dbg</string>
      </values>
    </hudson.matrix.TextAxis>
    <hudson.matrix.TextAxis>
      <name>P</name>
      <values>
        <string>x86</string>
        <string>amd64</string>
      </values>
    </hudson.matrix.TextAxis>
    <hudson.matrix.LabelAxis>
      <name>L</name>
      <values>
        <string>LBM</string>
        <string>WBM_amd64</string>
      </values>
    </hudson.matrix.LabelAxis>
  </axes>
  <combinationFilter>!( L == &apos;LBM&apos; )</combinationFilter>
  <builders>
    <org.jenkinsci.plugins.conditionalbuildstep.ConditionalBuilder plugin="conditional-buildstep@1.3.3">
      <runner class="org.jenkins_ci.plugins.run_condition.BuildStepRunner$Fail" plugin="run-condition@1.0"/>
      <runCondition class="org.jenkins_ci.plugins.run_condition.core.StringsMatchCondition" plugin="run-condition@1.0">
        <arg1>${OSTYPE}</arg1>
        <arg2>linux</arg2>
        <ignoreCase>false</ignoreCase>
      </runCondition>
      <conditionalbuilders>
        <hudson.tasks.Shell>
          <command>#!/bin/bash

mv -v Environ.sh Environ
chmod -v +x ./Environ</command>
        </hudson.tasks.Shell>
        <hudson.tasks.Shell>
          <command>#!/bin/bash

ls -l /mnt/OpenCL_DK_linux/
</command>
        </hudson.tasks.Shell>
      </conditionalbuilders>
    </org.jenkinsci.plugins.conditionalbuildstep.ConditionalBuilder>
    <org.jenkinsci.plugins.conditionalbuildstep.ConditionalBuilder plugin="conditional-buildstep@1.3.3">
      <runner class="org.jenkins_ci.plugins.run_condition.BuildStepRunner$Fail" plugin="run-condition@1.0"/>
      <runCondition class="org.jenkins_ci.plugins.run_condition.core.StringsMatchCondition" plugin="run-condition@1.0">
        <arg1>${OSTYPE}</arg1>
        <arg2>windows</arg2>
        <ignoreCase>true</ignoreCase>
      </runCondition>
      <conditionalbuilders>
        <hudson.tasks.BatchFile>
          <command>@echo off&#xd;
::If z: is not mapped and available build will fail and stop without checking out the full source code.&#xd;
&#xd;
dir z:&#xd;
if ERRORLEVEL 1 (&#xd;
	echo [ERR][%~n0%~x0]Z: not mapped. OpenCL Development Kit not available.&#xd;
	exit /b ERRORLEVEL&#xd;
)</command>
        </hudson.tasks.BatchFile>
      </conditionalbuilders>
    </org.jenkinsci.plugins.conditionalbuildstep.ConditionalBuilder>
    <hudson.plugins.xshell.XShellBuilder plugin="xshell@0.10">
      <commandLine>Environ</commandLine>
      <executeFromWorkingDir>true</executeFromWorkingDir>
      <regexToKill></regexToKill>
      <timeAllocated></timeAllocated>
    </hudson.plugins.xshell.XShellBuilder>
    <EnvInjectBuilder plugin="envinject@1.92.1">
      <info>
        <propertiesFilePath>${WORKSPACE}\Environ.props</propertiesFilePath>
      </info>
    </EnvInjectBuilder>
    <org.jenkinsci.plugins.conditionalbuildstep.ConditionalBuilder plugin="conditional-buildstep@1.3.3">
      <runner class="org.jenkins_ci.plugins.run_condition.BuildStepRunner$Fail" plugin="run-condition@1.0"/>
      <runCondition class="org.jenkins_ci.plugins.run_condition.core.StringsMatchCondition" plugin="run-condition@1.0">
        <arg1>${OSTYPE}</arg1>
        <arg2>windows</arg2>
        <ignoreCase>true</ignoreCase>
      </runCondition>
      <conditionalbuilders>
        <hudson.tasks.BatchFile>
          <command>@echo off&#xd;
&#xd;
setlocal&#xd;
&#xd;
dir z:&#xd;
&#xd;
if ERRORLEVEL 1 (&#xd;
	echo [ERR][%~n0%~x0]Windows OpenCL Development Kit not mounted.&#xd;
	exit /b errorlevel&#xd;
)&#xd;
&#xd;
set PATH=Z:\dk\win\bin;%PATH%&#xd;
echo [INFO][%~n0%~x0]PATH: %PATH%&#xd;
&#xd;
pushd drivers\adl&#xd;
	echo [INFO][%~n0%~x0]Calling make %C%.%ADL_PLATFORM%&#xd;
	make -j %NUMBER_OF_PROCESSORS% %C%.%ADL_PLATFORM%&#xd;
	if ERRORLEVEL 1 (&#xd;
		echo [ERR][%~n0%~x0]Could not build ADL&#xd;
		exit /b errorlevel&#xd;
	)&#xd;
popd&#xd;
&#xd;
echo [INFO][%~n0%~x0]Calling mkdir %WORKSPACE%\output&#xd;
mkdir %WORKSPACE%\output&#xd;
&#xd;
pushd %WORKSPACE%\output&#xd;
	mkdir ADL\%MAJOR_NUMBER%.%MINOR_NUMBER%&#xd;
	pushd ADL\%MAJOR_NUMBER%.%MINOR_NUMBER%&#xd;
		echo [INFO][%~n0%~x0]Calling mkdir include&#xd;
		mkdir include&#xd;
		&#xd;
		echo [INFO][%~n0%~x0]Calling mkdir lib\%PLATFORM_ARCH_VS%\%CONFIGURATION%&#xd;
		mkdir lib\%PLATFORM_ARCH_VS%\%CONFIGURATION%&#xd;
		&#xd;
		echo [INFO][%~n0%~x0]Calling mkdir bin\%PLATFORM_ARCH_VS%\%CONFIGURATION%&#xd;
		mkdir bin\%PLATFORM_ARCH_VS%\%CONFIGURATION%&#xd;
	popd&#xd;
	&#xd;
	pushd ADL\%MAJOR_NUMBER%.%MINOR_NUMBER%\include&#xd;
		echo [INFO][%~n0%~x0]Calling xcopy %WORKSPACE%\drivers\adl\include\* . /S /Y /V /K&#xd;
		xcopy %WORKSPACE%\drivers\adl\include\* . /S /Y /V /K&#xd;
	popd&#xd;
	&#xd;
	pushd ADL\%MAJOR_NUMBER%.%MINOR_NUMBER%\lib\%PLATFORM_ARCH_VS%\%CONFIGURATION%&#xd;
		echo [INFO][%~n0%~x0]Calling copy /V /Y %WORKSPACE%\drivers\adl\build\%ADL_PLATFORM%\B_%C%\*.lib .&#xd;
		copy /V /Y %WORKSPACE%\drivers\adl\build\%ADL_PLATFORM%\B_%C%\*.lib .&#xd;
	popd&#xd;
	&#xd;
	pushd ADL\%MAJOR_NUMBER%.%MINOR_NUMBER%\bin\%PLATFORM_ARCH_VS%\%CONFIGURATION%&#xd;
		echo [INFO][%~n0%~x0]Calling copy /V /Y %WORKSPACE%\drivers\adl\build\%ADL_PLATFORM%\B_%C%\*.dll .&#xd;
		copy /V /Y %WORKSPACE%\drivers\adl\build\%ADL_PLATFORM%\B_%C%\*.dll .&#xd;
		&#xd;
		echo [INFO][%~n0%~x0]Calling copy /V /Y %WORKSPACE%\drivers\adl\build\%ADL_PLATFORM%\B_%C%\*.pdb .&#xd;
		copy /V /Y %WORKSPACE%\drivers\adl\build\%ADL_PLATFORM%\B_%C%\*.pdb .&#xd;
		&#xd;
		echo [INFO][%~n0%~x0]Calling copy /V /Y %WORKSPACE%\drivers\adl\build\%ADL_PLATFORM%\B_%C%\*.map .&#xd;
		copy /V /Y %WORKSPACE%\drivers\adl\build\%ADL_PLATFORM%\B_%C%\*.map .&#xd;
	popd&#xd;
	&#xd;
	echo [INFO][%~n0%~x0]Calling %SEVENZ% a -t7z %WORKSPACE%\ADL_%PRODUCTVERSION%_%OSTYPE%_%CONFIGURATION%_%P%.%ARCHIVE_EXTENSION% .&#xd;
	%SEVENZ% a -t7z %WORKSPACE%\ADL_%PRODUCTVERSION%_%OSTYPE%_%CONFIGURATION%_%P%.%ARCHIVE_EXTENSION% .&#xd;
popd&#xd;
&#xd;
endlocal</command>
        </hudson.tasks.BatchFile>
      </conditionalbuilders>
    </org.jenkinsci.plugins.conditionalbuildstep.ConditionalBuilder>
    <org.jenkinsci.plugins.conditionalbuildstep.ConditionalBuilder plugin="conditional-buildstep@1.3.3">
      <runner class="org.jenkins_ci.plugins.run_condition.BuildStepRunner$Fail" plugin="run-condition@1.0"/>
      <runCondition class="org.jenkins_ci.plugins.run_condition.core.StringsMatchCondition" plugin="run-condition@1.0">
        <arg1>${OSTYPE}</arg1>
        <arg2>linux</arg2>
        <ignoreCase>true</ignoreCase>
      </runCondition>
      <conditionalbuilders>
        <hudson.tasks.Shell>
          <command>#!/bin/bash

export PATH=/mnt/OpenCL_DK_linux/dk/lnx/bin:${PATH}
echo [INFO]PATH: ${PATH}

NUMBER_OF_PROCESSORS=$(getconf _NPROCESSORS_ONLN)
PARALLEL_COMPILATIONS=$(($NUMBER_OF_PROCESSORS*2))

pushd drivers/adl
	make ${C}.${ADL_PLATFORM}
    #make -j ${PARALLEL_COMPILATIONS} ${C}.${ADL_PLATFORM}
	Retval=$?
	if [ $Retval -eq 0 ]; then
		#build succeeded, archive the binaries
		pushd build/$ADL_PLATFORM/B_$C
			ARCHIVE_NAME=$WORKSPACE/ADL_${PRODUCTVERSION}_${OSTYPE}_${CONFIGURATION}_${P}.${ARCHIVE_EXTENSION}
			echo [INFO]Calling tar -jcvf ${ARCHIVE_NAME} ./
			tar -jcvf ${ARCHIVE_NAME} ./
			Retval=$?
			if [ $Retval -ne 0 ]; then
				echo [ERR]Could not create archive ${ARCHIVE_NAME} of the contents of the directory $(pwd)
			fi
		popd
	fi
popd

exit $Retval</command>
        </hudson.tasks.Shell>
      </conditionalbuilders>
    </org.jenkinsci.plugins.conditionalbuildstep.ConditionalBuilder>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>ADL_*${PRODUCTVERSION}_${OSTYPE}_${CONFIGURATION}_${P}.${ARCHIVE_EXTENSION}</artifacts>
      <allowEmptyArchive>false</allowEmptyArchive>
      <onlyIfSuccessful>false</onlyIfSuccessful>
      <fingerprint>true</fingerprint>
      <defaultExcludes>true</defaultExcludes>
    </hudson.tasks.ArtifactArchiver>
  </publishers>
  <buildWrappers>
    <hudson.plugins.ws__cleanup.PreBuildCleanup plugin="ws-cleanup@0.28">
      <deleteDirs>false</deleteDirs>
      <cleanupParameter></cleanupParameter>
      <externalDelete></externalDelete>
    </hudson.plugins.ws__cleanup.PreBuildCleanup>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.7.2"/>
    <com.michelin.cio.hudson.plugins.copytoslave.CopyToSlaveBuildWrapper plugin="copy-to-slave@1.4.4">
      <includes>verpatch/verpatch.exe,Environ.*</includes>
      <excludes></excludes>
      <flatten>false</flatten>
      <includeAntExcludes>false</includeAntExcludes>
      <hudsonHomeRelative>false</hudsonHomeRelative>
      <relativeTo>userContent</relativeTo>
    </com.michelin.cio.hudson.plugins.copytoslave.CopyToSlaveBuildWrapper>
    <org.jenkinsci.plugins.buildnamesetter.BuildNameSetter plugin="build-name-setter@1.3">
      <template>${ENV,var=&quot;PRODUCTVERSION&quot;}</template>
    </org.jenkinsci.plugins.buildnamesetter.BuildNameSetter>
  </buildWrappers>
  <executionStrategy class="hudson.matrix.DefaultMatrixExecutionStrategyImpl">
    <runSequentially>false</runSequentially>
    <sorter class="hudson.matrix.NoopMatrixConfigurationSorter"/>
  </executionStrategy>
</matrix-project>